/* Define variables */
:root {
  /* Colors */
  --main-color: rgb(7, 7, 7);
  --secondary-color: #333;
  --hide-color: rgba(0, 0, 0, 0);
  --button-hover-color: #555555b0;
  --main-text-color: white;
  --main-background-overlay-color: rgba(0, 0, 0, 0.9);
  --panel-color: rgba(20, 20, 20, 0.75);
  /* Transformations */
  --centering-translation: -50%;
  --header-button-separation: 150%;
  --left-header-button-translation: 1400%;
  --middle-header-button-translation: calc(
    var(--left-header-button-translation) + var(--header-button-separation)
  );
  --right-header-button-translation: calc(
    var(--middle-header-button-translation) + var(--header-button-separation)
  );
  /* Sizes */
  --header-height: 8vw;
  --footer-height: 14vw;
  --game-box-width: 90vw;
  --game-box-height: 20vw;
  --game-button-width: calc(var(--game-box-width) / 3);
  --game-button-height: calc(var(--game-box-height) * 0.95);
  --game-desc-width: calc(var(--game-box-width) * (1 / 2));
  --game-desc-height: calc(var(--game-box-height) * 0.95);
  --header-button-text-size: calc(var(--header-height) * 0.08);
  --footer-button-text-size: calc(var(--footer-height) * 0.08);
  --about-me-box-width: 90vw;
  --about-me-box-height: 35vw;
  --about-me-image-width: 30vw;
  --about-me-image-height: 30vw;
  /* Edge Margins */
  --main-left-margin: 3%;
  --general-top-margin: 50%;
  --general-left-margin: 50%;
  --game-button-left-margin: 20%;
  --game-description-left-margin: calc(var(--game-button-left-margin) + 45%);
  --game-desc-text-left-margin: 5%;
  --game-title-text-top-margin: 10%;
  --game-desc-text-top-margin: 30%;
  --footer-text-left-margin: 50%;
  --footer-text-top-margin: 30%;
  /* Radii */
  --standard-edge_radius: 10%;
}

/* Main page attributes, such as background, font, etc. */
@font-face {
  font-family: MyCustomFont;
  src: url("../fonts/Ronysiswadi15Bold-6YAwY.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: MyCustomFont;
  src: url("../fonts/Ronysiswadi15-51Dv8.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: MyCustomFont, sans-serif;
  position: relative;
  background-image: url("../pngs/Sky_starry_blurred.png");
  background-repeat: repeat;
  background-position: center;
}

html {
  margin: 0;
  padding: 0;
}

.dark-overlay {
  position: fixed; /* fixed so we always see it in the background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-background-overlay-color);
  z-index: -1; /* Ensure the overlay behind everything and only on top of the background */
}

/* Skeleton loading layout styles */
.black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1; /* Initially fully opaque */
  z-index: 9999; /* Ensure it's on top of other content */
  animation: fadeOutOverlay 2.5s forwards; /* Play fade-out animation */
  pointer-events: none; /* Make the overlay non-interactable */
}

@keyframes fadeOutOverlay {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* header.js styling */
.header-banner {
  position: relative; /* Position this wherever (this is the origin for all of this obj's children */
  background-color: var(--hide-color); /*Banner color*/
  color: var(--main-text-color); /*Text color on the banner*/
  width: 100%;
  height: var(--header-height);
}

.title-container {
  position: absolute; /* Position wrt to its parent */
  margin: 0;
  left: var(--main-left-margin);
  top: var(--general-top-margin);
  transform: translateY(var(--centering-translation));
}

.logo-image {
  position: absolute; /* Position wrt to its parent */
  border-radius: var(--standard-edge_radius);
  width: calc(var(--header-height) * (2 / 3));
  height: calc(var(--header-height) * (2 / 3));
  transform: translateY(var(--centering-translation));
}

h1.title-text-style {
  position: absolute; /* Position wrt to its parent */
  text-align: left;
  font-size: calc(var(--header-height) * 0.25);
  color: var(--main-text-color);
  white-space: nowrap;
  transform: translate(35%, -120%);
  font-weight: bold;
}

.sub-title-text {
  position: absolute; /* Position wrt to its parent */
  text-align: left;
  font-size: calc(var(--header-height) * 0.125);
  color: var(--main-text-color);
  white-space: nowrap;
  transform: translate(180%, 50%);
  font-weight: normal;
}

/* github button styling */
.github-button-link {
  position: absolute; /* Position wrt to its parent */
}

.github-button-container {
  position: absolute; /* Position wrt to its parent */
  width: calc(var(--header-height) * (2 / 3));
  height: calc(var(--header-height) * (1 / 3));
  background-color: var(--panel-color); /* Button Color */
  border-radius: var(--standard-edge_radius);
  transition: background-color 0.3s ease;
  text-align: center;
  top: var(--general-top-margin);
  left: var(--general-left-margin);
  transform: translate(var(--middle-header-button-translation), 100%);
}

.github-button-container:hover {
  background-color: var(--button-hover-color);
  color: var(--main-text-color);
}

.github-text {
  position: absolute; /* Position wrt to its parent */
  color: var(--main-text-color);
  text-align: center;
  top: var(--general-top-margin);
  left: var(--general-left-margin);
  transform: translate(-20%, var(--centering-translation));
  font-size: var(--header-button-text-size);
  font-weight: bold;
}

.fab.fa-github {
  position: absolute; /* Position wrt to its parent */
  color: #ffffff; /* Set the color of the GitHub icon */
  font-size: calc(var(--header-height) * 0.15);
  top: var(--general-top-margin);
  left: var(--general-left-margin);
  transform: translate(-185%, calc(var(--centering-translation) - 5%));
}

/* about me button styling */
.header-button-about-link {
  position: absolute; /* Position wrt to its parent */
}

.about-me-button-container {
  position: absolute; /* Position wrt to its parent */
  width: calc(var(--header-height) * (2 / 3));
  height: calc(var(--header-height) * (1 / 3));
  background-color: var(--panel-color); /* Button Color */
  border-radius: var(--standard-edge_radius);
  transition: background-color 0.3s ease;
  text-align: center;
  top: var(--general-top-margin);
  left: var(--general-left-margin);
  transform: translate(var(--left-header-button-translation), 100%);
}

.about-me-button-container:hover {
  background-color: var(--button-hover-color);
  color: var(--main-text-color);
}

.about-me-text {
  position: absolute; /* Position wrt to its parent */
  color: var(--main-text-color); /* Text Color */
  text-align: center;
  top: var(--general-top-margin);
  left: var(--general-left-margin);
  transform: translate(
    var(--centering-translation),
    var(--centering-translation)
  );
  font-size: var(--header-button-text-size);
  white-space: nowrap;
  font-weight: bold;
}

/* home button styling */
.home-button-about-link {
  position: absolute; /* Position wrt to its parent */
}

.home-button-container {
  position: absolute; /* Position wrt to its parent */
  width: calc(var(--header-height) * (2 / 3));
  height: calc(var(--header-height) * (1 / 3));
  background-color: var(--panel-color); /* Button Color */
  border-radius: var(--standard-edge_radius);
  transition: background-color 0.3s ease;
  text-align: center;
  top: var(--general-top-margin);
  left: var(--general-left-margin);
  transform: translate(var(--right-header-button-translation), 100%);
}

.home-button-container:hover {
  background-color: var(--button-hover-color);
  color: var(--main-text-color);
}

.home-text {
  position: absolute; /* Position wrt to its parent */
  color: var(--main-text-color); /* Text Color */
  text-align: center;
  top: var(--general-top-margin);
  left: var(--general-left-margin);
  transform: translate(
    var(--centering-translation),
    var(--centering-translation)
  );
  font-size: var(--header-button-text-size);
  font-weight: bold;
}

/* game_box.js Game Box Styling */
.game-box {
  position: relative; /* Position this wherever (this is the origin for all game-box's children */
  width: var(--game-box-width);
  height: var(--game-box-height);
  left: var(--main-left-margin);
  /* border-radius: 2%; */
  /* border: calc(var(--game-box-height) * 0.01) solid var(--main-color); */
}

.game-box-blank-space {
  height: calc(var(--game-box-height) * 0.07);
}

.button-container {
  position: absolute; /* Position with respect to its parent */
  width: var(--game-button-width);
  height: var(--game-button-height);
  /* border: calc(var(--game-box-height) * 0.01) solid var(--main-color); */
  left: var(--game-button-left-margin);
  top: var(--general-top-margin);
  transform: translate(
    var(--centering-translation),
    var(--centering-translation)
  );
}

a.button-link-anchor {
  position: absolute; /* Position wrt to its parent */
}

.game-button {
  position: absolute; /* Position wrt to its parent */
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
  border-radius: var(--standard-edge_radius);
  width: var(--game-button-width);
  height: var(--game-button-height);
}

.game-button-hover-effect {
  transform: scale(1.05);
}

.game-desc-container {
  position: absolute; /* Position with respect to its parent */
  width: var(--game-desc-width);
  height: var(--game-desc-height);
  /* border: calc(var(--game-box-height) * 0.01) solid var(--main-color); */
  border-radius: var(--standard-edge_radius);
  left: var(--game-description-left-margin);
  top: var(--general-top-margin);
  transform: translate(
    var(--centering-translation),
    var(--centering-translation)
  ); /* Center the container */
  background-color: var(--panel-color);
}

a.title-link-anchor {
  position: absolute; /* Position wrt to its parent */
  left: var(--game-desc-text-left-margin);
  top: var(--game-title-text-top-margin);
}

.game-title {
  position: absolute; /* Position wrt to its parent */
  font-size: calc(var(--game-button-width) * 0.06);
  text-align: left;
  color: var(--main-text-color);
  white-space: nowrap;
  font-weight: bold;
}

.game-title-hover-effect {
  text-decoration: underline;
  cursor: pointer;
}

.game-description-text {
  position: absolute; /* Position wrt to its parent */
  font-size: calc(var(--game-button-width) * 0.04);
  text-align: left;
  left: var(--game-desc-text-left-margin);
  color: var(--main-text-color);
  top: var(--game-desc-text-top-margin);
  font-weight: normal;
}

/* footer.js Styling */
.footer-banner {
  position: relative; /* Position this wherever (this is the origin for all of this obj's children */
  background-color: var(--hide-color); /*Banner color*/
  color: var(--main-text-color); /*Text color on the banner*/
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-main-text {
  position: absolute; /* Position wrt to its parent */
  font-size: calc(var(--game-button-width) * 0.05);
  text-align: center;
  color: var(--main-text-color);
  left: var(--footer-text-left-margin);
  top: var(--footer-text-top-margin);
  font-weight: normal;
  transform: translate(
    var(--centering-translation),
    var(--centering-translation)
  );
  white-space: pre-wrap; /* Preserve newline characters */
  display: block;
}

/* LinkedIn footer button styling */
.linkedIn-button-about-link {
  position: absolute; /* Position wrt to its parent */
}

.linkedIn-button-container {
  position: absolute; /* Position wrt to its parent */
  width: calc(var(--footer-height) * (2 / 3));
  height: calc(var(--footer-height) * (1 / 3));
  background-color: var(--panel-color); /* Button Color */
  border-radius: var(--standard-edge_radius);
  transition: background-color 0.3s ease;
  text-align: center;
  top: var(--general-top-margin);
  left: var(--general-left-margin);
  transform: translate(-50%, 10%);
}

.linkedIn-button-container:hover {
  background-color: var(--button-hover-color);
  color: var(--main-text-color);
}

.linkedIn-text {
  position: absolute; /* Position wrt to its parent */
  color: var(--main-text-color);
  text-align: center;
  top: var(--general-top-margin);
  left: var(--general-left-margin);
  transform: translate(-20%, var(--centering-translation));
  font-size: var(--footer-button-text-size);
  font-weight: bold;
}

.fab.fa-linkedin {
  position: absolute; /* Position wrt to its parent */
  color: #ffffff; /* Set the color of the GitHub icon */
  font-size: calc(var(--footer-height) * 0.15);
  top: var(--general-top-margin);
  left: var(--general-left-margin);
  transform: translate(-195%, calc(var(--centering-translation) - 8%));
}

/* About me section */
.about-me-blank-space {
  height: 1vw;
}

.about-me-box {
  position: relative; /* Position this wherever (this is the origin for all of this obj's children */
  width: var(--about-me-box-width);
  height: var(--about-me-box-height);
  border-radius: var(--standard-edge_radius);
  left: var(--general-left-margin);
  top: var(--general-top-margin);
  transform: translate(var(--centering-translation), -5%);
  /* background-color: var(--panel-color); */
}

.about-me-image-container {
  position: absolute; /* Position wrt to its parent */
  left: 83%;
  top: 9%;
  transform: translate(var(--centering-translation), 5%);
  width: var(--about-me-image-width);
  height: var(--about-me-image-height);
}

/* Circle behind the character image */
.about-me-image-container::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute; /* Position wrt to its parent */
  top: 50%;
  left: 50%;
  transform: translate(-62%, -105%);
  width: 45%;
  height: 45%;
  border-radius: 50%; /* Make the shape a circle */
  background-color: rgba(
    104,
    220,
    255,
    0.377
  ); /* Set the color with transparency */
  z-index: -1; /* Ensure the circle is above the image */
}

/* Circle on top of the character image */
.about-me-image-container::after {
  content: ""; /* Required for pseudo-elements */
  position: absolute; /* Position wrt to its parent */
  top: 50%;
  left: 50%;
  transform: translate(-62%, -105%);
  width: 45%;
  height: 45%;
  border-radius: 50%; /* Make the shape a circle */
  background-color: rgba(
    104,
    220,
    255,
    0.322
  ); /* Set the color with transparency */
  z-index: 1; /* Ensure the circle is above the image */
}

.about-me-image {
  position: absolute; /* Position wrt to its parent */
  border-radius: var(--standard-edge_radius);
  width: var(--about-me-image-width);
  height: var(--about-me-image-height);
}

.about-me-title {
  position: absolute; /* Position wrt to its parent */
  font-size: calc(var(--about-me-box-width) * 0.035);
  text-align: left;
  color: var(--main-text-color);
  white-space: nowrap;
  font-weight: bold;
  left: 20%;
  top: 7%;
  transform: translate(var(--centering-translation), 0%);
}

.about-me-sub-title-text {
  position: absolute; /* Position wrt to its parent */
  font-size: calc(var(--about-me-box-width) * 0.015);
  text-align: left;
  color: var(--main-text-color);
  white-space: pre-wrap; /* Preserve newline characters */
  display: block;
  font-weight: normal;
  width: calc(var(--about-me-box-width) * 0.5);
  left: 32%;
  top: 29%;
  transform: translate(var(--centering-translation), 0%);
}

.about-me-main-text {
  position: absolute; /* Position wrt to its parent */
  font-size: calc(var(--about-me-box-width) * 0.011);
  text-align: left;
  color: var(--main-text-color);
  white-space: pre-wrap; /* Preserve newline characters */
  display: block;
  font-weight: normal;
  width: calc(var(--about-me-box-width) * 0.5);
  left: 32%;
  top: 41%;
  transform: translate(var(--centering-translation), 0%);
}
