/* Main page attributes, such as background, font, etc. */
@font-face {
  font-family: MyCustomFont;
  src: url("../../../Shared-General-Assets/fonts/Ronysiswadi15Bold-6YAwY.ttf")
    format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: MyCustomFont;
  src: url("../../../Shared-General-Assets/fonts/Ronysiswadi15-51Dv8.ttf")
    format("truetype");
  font-weight: normal;
}

/* Define CONSTANT variables */
:root {
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
  }
}

body {
  font-family: MyCustomFont, sans-serif;
  background-color: #f0f0f0; /* Change the background color */
  color: #333; /* Change the text color */
}

.article-container {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container h1 {
  font-size: 38px;
  color: var(--main-text-color);
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.article-container h2 {
  font-size: 22px;
  color: var(--main-text-color);
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin: 7px;
}

.article-container h3 {
  font-size: 14px;
  color: var(--main-text-color);
  font-weight: normal;
  text-align: center;
  margin: 0px 10px 50px 10px;
}

.article-container p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  color: var(--main-text-color);
  margin: 10px;
  white-space: pre-wrap; /* Preserve newlines and wrap text */
}
