@import "/Shared-General-Assets/css/general-shared-constants.css";

/* Define CONSTANT variables */
:root {
  --article-container-h1-font-size: 34pt;
  --article-container-h2-font-size: 22pt;
  --article-container-h3-font-size: 14pt;
  --article-container-p-font-size: 16pt;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    --article-container-h1-font-size: 28pt;
    --article-container-h2-font-size: 18pt;
    --article-container-h3-font-size: 12pt;
    --article-container-p-font-size: 14pt;
  }
}

body {
}

.article-container {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container h1 {
  font-size: var(--article-container-h1-font-size);
  color: var(--main-text-color);
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.article-container h2 {
  font-size: var(--article-container-h2-font-size);
  color: var(--main-text-color);
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin: 7px;
}

.article-container h3 {
  font-size: var(--article-container-h3-font-size);
  color: var(--main-text-color);
  font-weight: normal;
  text-align: center;
  margin: 0px 10px 50px 10px;
}

.article-container p {
  font-size: var(--article-container-p-font-size);
  font-weight: normal;
  line-height: 1.6;
  color: var(--main-text-color);
  margin: 0px 10px 0px 10px;
  white-space: pre-wrap; /* Preserve newlines and wrap text */
}
