/* Define variables */
:root {
  /* Transformations */
  --loading-logo-translate-y: 0%;
  /* Sizes */
  --game-header-height: 14vw;
  --header-icon-size: calc(var(--game-header-height) * (1 / 3));
  --game-logo-icon-size: calc(var(--game-header-height) * (1 / 2));
  --loading-content-size: 20vw;
  /* Font Sizes */
  --logo-title-font-size: calc(var(--game-header-height) * 0.125);
  --logo-subtitle-font-size: calc(var(--game-header-height) * 0.085);
  /* Edge Margins */
  --shanes-games-logo-container-for-games-top-margin: 1.3%;
  --game-logo-container-margin-top: 2px;
  --game-logo-title-margin-left: 12px;
  /* Other */
  --load-screen-dur: 2.5s;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Transformations */
    --loading-logo-translate-y: 60%;
    /* Sizes */
    --game-header-height: 24vw;
    --loading-content-size: 35vw;
    /* Edge Margins */
    --shanes-games-logo-container-for-games-top-margin: 3%;
  }
}

/* Generic styles */
.game-title-style,
.game-subtitle-style {
  color: var(--main-text-color);
  white-space: nowrap;
}

.game-title-style {
  font-size: var(--logo-title-font-size);
  font-weight: bold;
  text-align: left;
}

.game-subtitle-style {
  font-size: var(--logo-subtitle-font-size);
  font-weight: normal;
  text-align: right;
}

/* Game Header Banner */
.game-header-banner {
  position: relative;
  background-color: var(--hide-color); /*Banner color*/
  color: var(--main-text-color); /*Text color on the banner*/
  width: 100%;
  height: var(--game-header-height);
  top: 0%;
  pointer-events: none; /* Disable pointer events for the banner itself */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Shanes Games Logo */
.shanes-games-logo-container {
  position: relative; /* Position wrt to its parent */
  pointer-events: auto; /* Can click this to go back to main menu */
  cursor: pointer; /* hover pointer */
  transition: transform 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--shanes-games-logo-container-for-games-top-margin) 0px 0px 0px;
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  .shanes-games-logo-container:hover {
    transform: scale(1.05);
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
.shanes-games-logo-container.active {
  transform: scale(1.05);
  filter: brightness(0.82) invert(0%);
}

.main-logo-image {
  border-radius: var(--standard-border-radius);
  width: var(--header-icon-size);
  height: var(--header-icon-size);
  margin: 0px 0px 0px var(--main-ml);
}

.main-logo-title {
  margin: 0px 0px 0px 8px;
}

.main-logo-subtitle {
  margin: 3px 0px 0px 0px;
}

/* Generic Game Logo */
.game-logo-container {
  position: relative;
  margin: var(--game-logo-container-margin-top) var(--main-ml) 0px 0px;
  pointer-events: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.game-logo-image {
  border-radius: var(--standard-border-radius);
  width: var(--game-logo-icon-size);
  height: var(--game-logo-icon-size);
  pointer-events: none;
}

.game-title {
  pointer-events: none;
  /* margin is handled in game_header.js!! */
}

/* Game fade in dark screen */
.game-load-in-overlay {
  background-color: black;
  opacity: 1; /* Initially fully opaque */
  z-index: 9999; /* Ensure it's on top of other content */
  animation: fadeOutOverlay var(--load-screen-dur) forwards; /* Play fade-out animation */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.loading-content {
  position: relative;
  text-align: center;
  color: white;
  opacity: 1; /* Initially fully opaque */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-content img {
  position: absolute;
  width: var(--loading-content-size); /* Adjust size as needed */
  height: auto;
  pointer-events: none;
  animation: loadingAnim var(--load-screen-dur) forwards;
  transform: scale(1);
  margin: 0px 0px var(--loading-logo-translate-y) 0px;
}

@keyframes fadeOutOverlay {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loadingAnim {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.25) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
