/* Import constants */
@import "../../../Shared-General-Assets/css/general-shared-constants.css";

/* Define variables */
:root {
  /* Transformations */
  --main-logo-title-translate-x: 35%;
  --main-logo-title-translate-y: -120%;
  --main-logo-subtitle-translate-x: 180%;
  --main-logo-subtitle-translate-y: 50%;
  --game-title-translate-x: 50%;
  --game-title-translate-y: -100%;
  --loading-logo-translate-x: 0%;
  --loading-logo-translate-y: 20%;
  /* Sizes */
  --game-header-height: 14vw;
  --header-icon-size: calc(var(--game-header-height) * (1 / 3));
  --loading-content-size: 25vw;
  /* Font Sizes */
  --logo-title-font-size: calc(var(--game-header-height) * 0.125);
  --logo-subtitle-font-size: calc(var(--game-header-height) * 0.0625);
  /* Edge Margins */
  --small-top-margin: 10%;
  --game-logo-container-left-margin: 78%;
  /* Other */
  --load-screen-dur: 5s;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (max-width: 600px) {
  :root {
    /* Sizes */
    --game-header-height: 24vw;
    /* Edge Margins */
    --game-logo-container-left-margin: 64%;
    --small-top-margin: 15%;
  }
}

/* Game Header Banner */
.game-header-banner {
  position: relative; /* Position this wherever (this is the origin for all of this obj's children */
  background-color: var(--hide-color); /*Banner color*/
  color: var(--main-text-color); /*Text color on the banner*/
  width: 100%;
  height: var(--game-header-height);
  pointer-events: none; /* Disable pointer events for the banner itself */
  user-select: none; /* disable text selection on all browsers for this */
  -moz-user-select: none; /* disable text selection on all browsers for this */
  -webkit-user-select: none; /* disable text selection on all browsers for this */
  -ms-user-select: none; /* disable text selection on all browsers for this */
}

/* Shanes Games Logo */
.shanes-games-logo-container {
  position: absolute; /* Position wrt to its parent */
  margin: 0;
  left: var(--main-left-margin);
  top: var(--small-top-margin);
  transform: translateY(var(--centering-translation));
  pointer-events: auto;
  cursor: pointer; /* hover pointer */
  user-select: none; /* disable text selection on all browsers for this */
  -moz-user-select: none; /* disable text selection on all browsers for this */
  -webkit-user-select: none; /* disable text selection on all browsers for this */
  -ms-user-select: none; /* disable text selection on all browsers for this */
}

.shanes-games-logo-container:hover {
  transform: scale(1.05);
}

.main-logo-image {
  position: absolute; /* Position wrt to its parent */
  border-radius: var(--standard-edge_radius);
  width: var(--header-icon-size);
  height: var(--header-icon-size);
  transform: translateY(var(--centering-translation));
  user-select: none; /* disable text selection on all browsers for this */
  -moz-user-select: none; /* disable text selection on all browsers for this */
  -webkit-user-select: none; /* disable text selection on all browsers for this */
  -ms-user-select: none; /* disable text selection on all browsers for this */
}

.main-logo-title {
  position: absolute; /* Position wrt to its parent */
  text-align: left;
  font-size: var(--logo-title-font-size);
  color: var(--main-text-color);
  white-space: nowrap;
  transform: translate(
    var(--main-logo-title-translate-x),
    var(--main-logo-title-translate-y)
  );
  font-weight: bold;
  user-select: none; /* disable text selection on all browsers for this */
  -moz-user-select: none; /* disable text selection on all browsers for this */
  -webkit-user-select: none; /* disable text selection on all browsers for this */
  -ms-user-select: none; /* disable text selection on all browsers for this */
}

.main-logo-subtitle {
  position: absolute; /* Position wrt to its parent */
  text-align: left;
  font-size: var(--logo-subtitle-font-size);
  color: var(--main-text-color);
  white-space: nowrap;
  transform: translate(
    var(--main-logo-subtitle-translate-x),
    var(--main-logo-subtitle-translate-y)
  );
  font-weight: normal;
  user-select: none; /* disable text selection on all browsers for this */
  -moz-user-select: none; /* disable text selection on all browsers for this */
  -webkit-user-select: none; /* disable text selection on all browsers for this */
  -ms-user-select: none; /* disable text selection on all browsers for this */
}

/* Generic Game Logo */
.game-logo-container {
  position: absolute; /* Position wrt to its parent */
  margin: 0;
  left: var(--game-logo-container-left-margin);
  top: var(--small-top-margin);
  transform: translate(0%, var(--centering-translation));
  background-color: white;
  user-select: none; /* disable text selection on all browsers for this */
  -moz-user-select: none; /* disable text selection on all browsers for this */
  -webkit-user-select: none; /* disable text selection on all browsers for this */
  -ms-user-select: none; /* disable text selection on all browsers for this */
}

.game-logo-image {
  position: absolute; /* Position wrt to its parent */
  border-radius: var(--standard-edge_radius);
  width: var(--header-icon-size);
  height: var(--header-icon-size);
  transform: translateY(var(--centering-translation));
  user-select: none; /* disable text selection on all browsers for this */
  -moz-user-select: none; /* disable text selection on all browsers for this */
  -webkit-user-select: none; /* disable text selection on all browsers for this */
  -ms-user-select: none; /* disable text selection on all browsers for this */
}

.game-title {
  position: absolute; /* Position wrt to its parent */
  text-align: left;
  font-size: var(--logo-title-font-size);
  color: var(--main-text-color);
  white-space: nowrap;
  transform: translate(
    var(--game-title-translate-x),
    var(--game-title-translate-y)
  );
  font-weight: bold;
  user-select: none; /* disable text selection on all browsers for this */
  -moz-user-select: none; /* disable text selection on all browsers for this */
  -webkit-user-select: none; /* disable text selection on all browsers for this */
  -ms-user-select: none; /* disable text selection on all browsers for this */
}

/* Game fade in dark screen */
.game-load-in-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 1; /* Initially fully opaque */
  z-index: 9999; /* Ensure it's on top of other content */
  animation: fadeOutOverlay var(--load-screen-dur) forwards; /* Play fade-out animation */
  pointer-events: none; /* Make the overlay non-interactable */
  user-select: none; /* disable text selection on all browsers for this */
  -moz-user-select: none; /* disable text selection on all browsers for this */
  -webkit-user-select: none; /* disable text selection on all browsers for this */
  -ms-user-select: none; /* disable text selection on all browsers for this */
}

.loading-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: white;
  opacity: 1; /* Initially fully opaque */
  animation: loadingAnim var(--load-screen-dur) forwards;
  transform: translate(
      var(--loading-logo-translate-x),
      var(--loading-logo-translate-y)
    )
    scale(1);
  user-select: none; /* disable text selection on all browsers for this */
  -moz-user-select: none; /* disable text selection on all browsers for this */
  -webkit-user-select: none; /* disable text selection on all browsers for this */
  -ms-user-select: none; /* disable text selection on all browsers for this */
}

.loading-content img {
  width: var(--loading-content-size); /* Adjust size as needed */
  height: auto;
  user-select: none; /* disable text selection on all browsers for this */
  -moz-user-select: none; /* disable text selection on all browsers for this */
  -webkit-user-select: none; /* disable text selection on all browsers for this */
  -ms-user-select: none; /* disable text selection on all browsers for this */
}

@keyframes fadeOutOverlay {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loadingAnim {
  0% {
    transform: translate(
        var(--loading-logo-translate-x),
        var(--loading-logo-translate-y)
      )
      scale(1);
  }
  50% {
    transform: translate(
        var(--loading-logo-translate-x),
        var(--loading-logo-translate-y)
      )
      scale(1.1);
  }
  100% {
    transform: translate(
        var(--loading-logo-translate-x),
        var(--loading-logo-translate-y)
      )
      scale(1);
  }
}
