/* Import constants */
@import "../../../Shared-General-Assets/css/general-shared-constants.css";

/* Define variables */
:root {
  /* Transformations */
  --main-logo-title-translate-x: 35%;
  --main-logo-title-translate-y: -125%;
  --main-logo-subtitle-translate-x: 112%;
  --main-logo-subtitle-translate-y: -20%;
  --loading-logo-translate-x: 0%;
  --loading-logo-translate-y: 20%;
  /* Sizes */
  --game-header-height: 14vw;
  --header-icon-size: calc(var(--game-header-height) * (1 / 3));
  --game-logo-icon-size: calc(var(--game-header-height) * (1 / 2));
  --loading-content-size: 25vw;
  /* Font Sizes */
  --logo-title-font-size: calc(var(--game-header-height) * 0.125);
  --logo-subtitle-font-size: calc(var(--game-header-height) * 0.0825);
  /* Edge Margins */
  --header-small-top-margin: 23%;
  /* Other */
  --load-screen-dur: 5s;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (max-width: 600px) {
  :root {
    /* Transformations */
    --main-logo-subtitle-translate-x: 123%;
    /* Sizes */
    --game-header-height: 24vw;
  }
}

/* Generic styles */
.game-title-style,
.game-subtitle-style {
  position: absolute; /* Position wrt to its parent */
  text-align: left;
  color: var(--main-text-color);
  white-space: nowrap;
}

.game-title-style {
  font-size: var(--logo-title-font-size);
  font-weight: bold;
}

.game-subtitle-style {
  font-size: var(--logo-subtitle-font-size);
  font-weight: normal;
}

/* Game Header Banner */
.game-header-banner {
  position: relative; /* Position this wherever (this is the origin for all of this obj's children */
  background-color: var(--hide-color); /*Banner color*/
  color: var(--main-text-color); /*Text color on the banner*/
  width: 100%;
  height: var(--game-header-height);
  top: 0%;
  pointer-events: none; /* Disable pointer events for the banner itself */
}

/* Shanes Games Logo */
.shanes-games-logo-container {
  position: absolute; /* Position wrt to its parent */
  margin: 0;
  left: var(--main-left-margin);
  top: var(--header-small-top-margin);
  transform: translateY(var(--centering-translation));
  pointer-events: auto; /* Can click this to go back to main menu */
  cursor: pointer; /* hover pointer */
  transition: transform 0.3s ease;
}

.shanes-games-logo-container:hover {
  transform: translateY(var(--centering-translation)) scale(1.05);
}

.main-logo-image {
  position: absolute; /* Position wrt to its parent */
  border-radius: var(--standard-edge_radius);
  width: var(--header-icon-size);
  height: var(--header-icon-size);
  transform: translateY(var(--centering-translation));
}

.main-logo-title {
  transform: translate(
    var(--main-logo-title-translate-x),
    var(--main-logo-title-translate-y)
  );
}

.main-logo-subtitle {
  transform: translate(
    var(--main-logo-subtitle-translate-x),
    var(--main-logo-subtitle-translate-y)
  );
}

/* Generic Game Logo */
.game-logo-container {
  position: absolute; /* Position wrt to its parent */
  margin: 0;
  /* left: var(--game-logo-container-left-margin); */ /* This is now handled in game_header.js */
  top: var(--header-small-top-margin);
  transform: translate(0%, var(--centering-translation));
  background-color: white;
  pointer-events: none;
}

.game-logo-image {
  position: absolute; /* Position wrt to its parent */
  border-radius: var(--standard-edge_radius);
  width: var(--game-logo-icon-size);
  height: var(--game-logo-icon-size);
  transform: translateY(var(--centering-translation));
  pointer-events: none;
}

.game-title {
  /* transform: translate(
    var(--game-title-translate-x),
    var(--game-title-translate-y)
  ); */ /* This is now handled in game_header.js */
  pointer-events: none;
}

/* Game fade in dark screen */
.game-load-in-overlay {
  background-color: black;
  opacity: 1; /* Initially fully opaque */
  z-index: 9999; /* Ensure it's on top of other content */
  animation: fadeOutOverlay var(--load-screen-dur) forwards; /* Play fade-out animation */
}

.loading-content {
  text-align: center;
  color: white;
  opacity: 1; /* Initially fully opaque */
  animation: loadingAnim var(--load-screen-dur) forwards;
  transform: translate(
      var(--loading-logo-translate-x),
      var(--loading-logo-translate-y)
    )
    scale(1);
}

.loading-content img {
  width: var(--loading-content-size); /* Adjust size as needed */
  height: auto;
  pointer-events: none;
}

@keyframes fadeOutOverlay {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loadingAnim {
  0% {
    transform: translate(
        var(--loading-logo-translate-x),
        var(--loading-logo-translate-y)
      )
      scale(1);
  }
  50% {
    transform: translate(
        var(--loading-logo-translate-x),
        var(--loading-logo-translate-y)
      )
      scale(1.1);
  }
  100% {
    transform: translate(
        var(--loading-logo-translate-x),
        var(--loading-logo-translate-y)
      )
      scale(1);
  }
}
