/* Define variables */
:root {
  /* Colors */
  --main-color: rgb(0, 0, 0);
  --hide-color: rgba(0, 0, 0, 0);
  --secondary-color: #333;
  --main-text-color: white;
  --button-hover-color: #555555b0;
  --panel-color: rgba(20, 20, 20, 0.75);
  --main-background-overlay-color: rgba(0, 0, 0, 0.9);
  /* Transformations */
  --centering-translation: -50%;
  /* Edge Margins */
  --main-left-margin: 3%;
  --general-top-margin: 50%;
  --general-left-margin: 50%;
  /* Radii */
  --standard-edge_radius: 10%;
}
