/* Define variables */
:root {
  /* Colors */
  --main-color: rgb(0, 0, 0);
  --hide-color: rgba(0, 0, 0, 0);
  --secondary-color: #454545;
  --main-text-color: white;
  --button-hover-color: #555555b0;
  --info-banner-background-color: rgba(187, 187, 187, 0.957);
  --panel-color: rgba(23, 23, 23, 0.75);
  --button-color: rgba(40, 40, 40, 0.75);
  --main-background-overlay-color: rgba(0, 0, 0, 0.9);
  --link-color: rgb(105, 218, 255);
  /* Transformations */
  --centering-translation: -50%;
  /* Edge Margins */
  --main-ml: 3vw;
  --general-mt: 50%;
  --general-ml: 50%;
  /* Radii */
  --standard-border-radius: 10%;
}

/* "*" means apply to all elements. Important assumption here is that 
general-shared-constants is imported in all css files in this project. */
* {
  /* Ensures that all browsers calculate border box properly for all elements */
  box-sizing: border-box;
}

/* Establish the font for the site */
body {
  font-family: sans-serif;
  line-height: 1.3;
}
