/* Define CONSTANT variables */
:root {
  --main-background-overlay-color: rgba(0, 0, 0, 0.9);
}

/* Fade in dark screen */
.black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1; /* Initially fully opaque */
  z-index: 9999; /* Ensure it's on top of other content */
  animation: fadeOutOverlay 2.5s forwards; /* Play fade-out animation */
  pointer-events: none; /* Make the overlay non-interactable */
}

@keyframes fadeOutOverlay {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.dark-overlay {
  position: fixed; /* fixed so we always see it in the background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-background-overlay-color);
  z-index: -1; /* Ensure the overlay behind everything and only on top of the background */
}
