/* Import constants */
@import "/Shared-General-Assets/css/general-shared-constants.css";
@import "/Main-Website-Assets/css/main-website-styles.css";

/* Define CONSTANT variables */
:root {
  /* Sizes */
  --about-me-box-width: 90vw;
  --about-me-box-height: 85vh;
  --about-me-image-width: 15vw;
  --about-me-image-height: calc(
    1.8 * 15vw
  ); /* Maintain 450 to 250 h to w ratio */
  --about-me-text-container-width: 60vw;

  /* Margins */
  --about-me-text-container-bottom-margin: 90px;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Sizes */
    --about-me-box-width: 85vw;
    --about-me-box-height: 80vh;
    --about-me-text-container-width: 85vw;

    /* Margins */
    --about-me-text-container-bottom-margin: 20px;
  }
}

/* Define DERIVED variables (aka ones based on others) */
:root {
  /* Font Sizes */
  --about-me-title-font-size: calc(var(--about-me-box-height) * 0.065);
  --about-me-subtitle-font-size: calc(var(--about-me-box-height) * 0.04);
  --about-me-main-text-font-size: calc(var(--about-me-box-height) * 0.03);
}

/* Media query to override DERIVED values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Font Sizes */
    --about-me-title-font-size: calc(var(--about-me-box-height) * 0.039);
    --about-me-subtitle-font-size: calc(var(--about-me-box-height) * 0.028);
    --about-me-main-text-font-size: calc(var(--about-me-box-height) * 0.021);
  }
}

.about-me-box {
  position: relative; /* Position this wherever (this is the origin for all of this obj's children */
  width: var(--about-me-box-width);
  border-radius: var(--standard-edge_radius);
  left: var(--general-left-margin);
  top: var(--general-top-margin);
  transform: translate(var(--centering-translation), 0%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-me-image-container {
  position: absolute; /* Position wrt to its parent */
  right: -1%;
  top: 10%;
  transform: translate(var(--centering-translation), 5%);
  width: var(--about-me-image-width);
  height: var(--about-me-image-height);
}

/* Circle for the astronaut helmet (one circle behind and one in front) */
.about-me-image-container::before,
.about-me-image-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: calc(var(--about-me-image-width) * 0.95);
  height: calc(var(--about-me-image-width) * 0.95);
  border-radius: 50%;
}

.about-me-image-container::before {
  background-color: rgba(104, 220, 255, 0.377);
  z-index: -1;
}

.about-me-image-container::after {
  background-color: rgba(104, 220, 255, 0.322);
  z-index: 1;
}

.about-me-image {
  position: absolute; /* Position wrt to its parent */
  border-radius: var(--standard-edge_radius);
  width: var(--about-me-image-width);
  height: var(--about-me-image-height);
}

/* Media query to hide the about me image for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    .about-me-image-container {
      display: none; /* Hide this so that it cannot be seen */
    }
  }
}

.about-me-text-container {
  color: var(--main-text-color);
  text-align: left;
  width: var(--about-me-text-container-width);
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Start on the left */
  flex-direction: column;
  margin: 30px 0px var(--about-me-text-container-bottom-margin) 0px;
}

.about-me-title {
  font-size: var(--about-me-title-font-size);
  font-weight: bold;
  margin: 5px 0px;
}

.about-me-subtitle {
  font-size: var(--about-me-subtitle-font-size);
  margin: 8px 0px;
}

.about-me-main-text {
  font-size: var(--about-me-main-text-font-size);
  margin: 10px 0px;
}
