/* Define CONSTANT variables */
:root {
  /* Sizes */
  --about-me-box-w: 90vw;
  --about-me-box-h: 85vh;
  --about-me-image-w: 15vw;
  --about-me-image-h: calc(1.8 * 15vw); /* Maintain 450 to 250 h to w ratio */
  --about-me-text-container-w: 60vw;

  /* Margins */
  --about-me-text-container-mb: 90px;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Sizes */
    --about-me-box-w: 85vw;
    --about-me-box-h: 80vh;
    --about-me-text-container-w: 85vw;

    /* Margins */
    --about-me-text-container-mb: 20px;
  }
}

/* Define DERIVED variables (aka ones based on others) */
:root {
  /* Font Sizes */
  --about-me-title-font-size: calc(var(--about-me-box-h) * 0.096);
  --about-me-subtitle-font-size: calc(var(--about-me-box-h) * 0.066);
  --about-me-main-text-font-size: calc(var(--about-me-box-h) * 0.044);
}

/* Media query to override DERIVED values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Font Sizes */
    --about-me-title-font-size: calc(var(--about-me-box-h) * 0.045);
    --about-me-subtitle-font-size: calc(var(--about-me-box-h) * 0.033);
    --about-me-main-text-font-size: calc(var(--about-me-box-h) * 0.025);
  }
}

.about-me-box {
  position: relative; /* Position this wherever (this is the origin for all of this obj's children */
  width: var(--about-me-box-w);
  border-radius: var(--standard-border-radius);
  left: var(--general-ml);
  top: var(--general-mt);
  transform: translate(var(--centering-translation), 0%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-me-image-container {
  position: absolute; /* Position wrt to its parent */
  right: -1%;
  top: 10%;
  transform: translate(var(--centering-translation), 5%);
  width: var(--about-me-image-w);
  height: var(--about-me-image-h);
}

/* Circle for the astronaut helmet (one circle behind and one in front) */
.about-me-image-container::before,
.about-me-image-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: calc(var(--about-me-image-w) * 0.95);
  height: calc(var(--about-me-image-w) * 0.95);
  border-radius: 50%;
}

.about-me-image-container::before {
  background-color: rgba(104, 220, 255, 0.377);
  z-index: -1;
}

.about-me-image-container::after {
  background-color: rgba(104, 220, 255, 0.322);
  z-index: 1;
}

.about-me-image {
  position: absolute; /* Position wrt to its parent */
  border-radius: var(--standard-border-radius);
  width: var(--about-me-image-w);
  height: var(--about-me-image-h);
}

/* Media query to hide the about me image for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    .about-me-image-container {
      display: none; /* Hide this so that it cannot be seen */
    }
  }
}

.about-me-text-container {
  color: var(--main-text-color);
  text-align: left;
  width: var(--about-me-text-container-w);
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Start on the left */
  flex-direction: column;
  margin: 30px 0px var(--about-me-text-container-mb) 0px;
}

.about-me-title {
  font-size: var(--about-me-title-font-size);
  font-weight: bold;
  margin: 5px 0px;
}

.about-me-subtitle {
  font-size: var(--about-me-subtitle-font-size);
  margin: 8px 0px;
}

.about-me-main-text {
  font-size: var(--about-me-main-text-font-size);
  margin: 10px 0px;
}

.about-me-main-text a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  .about-me-main-text a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
.about-me-main-text a.active {
  text-decoration: underline; /* Add underline on click */
}
