/* Import constants */
@import "./main-website-styles.css";

/* Define CONSTANT variables */
:root {
  /* Sizes */
  --game-box-width: 90vw;
  --game-box-height: 20vw;
  /* Edge Margins */
  --game-button-left-margin: 17%;
  --game-desc-text-left-margin: 5%;
  --game-title-text-top-margin: 10%;
  --game-desc-text-top-margin: 30%;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Sizes */
    --game-box-height: 36vw;
    --game-box-width: 95vw;
    /* Edge Margins */
    --game-button-left-margin: 22%;
    --game-desc-text-left-margin: 8%;
  }
}

/* Define DERIVED variables (aka ones based on others) */
:root {
  /* Sizes */
  --game-button-width: calc(var(--game-box-width) / 3.3);
  --game-button-height: calc(var(--game-box-height) * 0.95);
  --game-desc-width: calc(var(--game-box-width) * (0.6));
  --game-desc-height: calc(var(--game-box-height) * 0.95);
  --game-box-blank-space-height: calc(var(--game-box-height) * 0.07);
  /* Font Sizes */
  --gamedesc-title-font-size: calc(var(--game-button-width) * 0.06);
  --gamedesc-body-text-font-size: calc(var(--game-button-width) * 0.06);
  /* Edge Margins */
  --game-description-left-margin: calc(var(--game-button-left-margin) + 50%);
}

/* Media query to override DERIVED values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Font Sizes */
    --gamedesc-title-font-size: calc(var(--game-button-width) * 0.06);
    --gamedesc-body-text-font-size: calc(var(--game-button-width) * 0.06);
    /* Sizes */
    --game-button-width: calc(var(--game-box-width) / 2.3);
    --game-desc-width: calc(var(--game-box-width) * (0.5));
    /* Edge Margins */
    --game-description-left-margin: calc(var(--game-button-left-margin) + 50%);
  }
}

/* Common styles for game box elements */
a.game-box-button-link-anchor,
.game-box-button-container,
.game-button,
.game-desc-container,
a.title-link-anchor,
.game-title,
.game-description-text {
  position: absolute; /* Position wrt to its parent */
}

.game-box-button-container,
.game-desc-container {
  transform: translate(
    var(--centering-translation),
    var(--centering-translation)
  );
}

/* game_box.js Game Box Styling */
.game-box {
  position: relative; /* Position this wherever (this is the origin for all game-box's children */
  width: var(--game-box-width);
  height: var(--game-box-height);
  left: var(--main-left-margin);
}

.game-box-blank-space {
  height: var(--game-box-blank-space-height);
}

.game-box-button-container {
  width: var(--game-button-width);
  height: var(--game-button-height);
  left: var(--game-button-left-margin);
  top: var(--general-top-margin);
}

a.game-box-button-link-anchor {
  /* Add styles if needed */
}

.game-button {
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
  border-radius: var(--standard-edge_radius);
  width: var(--game-button-width);
  height: var(--game-button-height);
  transition: transform 0.3s ease;
}

.game-button-hover-effect {
  transform: scale(1.05);
}

.game-desc-container {
  width: var(--game-desc-width);
  height: var(--game-desc-height);
  border-radius: var(--standard-edge_radius);
  left: var(--game-description-left-margin);
  top: var(--general-top-margin);
  background-color: var(--panel-color);
}

a.title-link-anchor {
  left: var(--game-desc-text-left-margin);
  top: var(--game-title-text-top-margin);
}

.game-title {
  font-size: var(--gamedesc-title-font-size);
  text-align: left;
  color: var(--main-text-color);
  white-space: nowrap;
  font-weight: bold;
}

.game-title-hover-effect {
  text-decoration: underline;
  cursor: pointer;
}

.game-description-text {
  font-size: var(--gamedesc-body-text-font-size);
  text-align: left;
  left: var(--game-desc-text-left-margin);
  color: var(--main-text-color);
  top: var(--game-desc-text-top-margin);
  font-weight: normal;
  width: var(--game-desc-text-width);
}
