/* Import constants */
@import "./main-website-styles.css";
@import "/Shared-General-Assets/css/general-shared-constants.css";

/* Define variables */
:root {
  /* Transformations */
  --header-button-separation: 120%;
  --header-button-vertical-translation: 65%;
  --sub-title-translate-x: 180%;
  /* Sizes */
  --header-height: 8vw;
  --footer-height: 14vw;
  /* Edge Margins */
  --title-container-left-margin: 3%;
  --footer-text-left-margin: 50%;
  --footer-text-top-margin: 30%;
  --left-button-right-margin: 18vw;
  --middle-button-right-margin: 10vw;
  --right-button-right-margin: 2vw;
  --linkedIn-button-right-margin: 6vw;
  --linkedIn-button-bottom-margin: 20%;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Transformations */
    --sub-title-translate-x: 162%;
    /* Sizes */
    --header-height: 14.4vw;
    --footer-height: 25.2vw;
    /* Edge Margins */
    --left-button-right-margin: 34vw;
    --middle-button-right-margin: 19vw;
    --right-button-right-margin: 4vw;
    --linkedIn-button-right-margin: 6vw;
    --linkedIn-button-bottom-margin: 20%;
  }
}

/* Define DERIVED variables (aka ones based on others) */
:root {
  /* Sizes */
  --logo-image-size: calc(var(--header-height) * (2 / 3));
  --linkedin-button-width: calc(var(--footer-height) * 0.8);
  --linkedin-button-height: calc(var(--footer-height) * 0.3);
  --header-button-width: calc(var(--header-height) * 0.83);
  --header-button-height: calc(var(--header-height) * 0.45);
  --github-icon-size: calc(var(--header-height) * 0.2);
  --title-text-font-size: calc(var(--header-height) * 0.25);
  --subtitle-text-font-size: calc(var(--header-height) * 0.125);
  /* Font Sizes */
  --linkedin-icon-size: calc(var(--linkedin-button-height) * 0.45);
  --footer-main-text-font-size: calc(var(--footer-height) * 0.125);
  --header-button-text-size: calc(var(--header-button-width) * 0.16);
  --linkedin-text-font-size: calc(var(--linkedin-button-height) * 0.24);
}

/* header.js styling */
.header-banner {
  position: relative; /* Position this wherever (this is the origin for all of this obj's children */
  background-color: var(--hide-color); /*Banner color*/
  color: var(--main-text-color); /*Text color on the banner*/
  width: 100%;
  height: var(--header-height);
}

.title-container,
.logo-image,
h1.title-text-style,
.sub-title-text,
.header-button-container,
.header-button-text,
.fab.fa-github,
.footer-main-text,
.linkedIn-button-container,
.linkedIn-button-link,
.linkedIn-text,
.fab.fa-linkedin {
  position: absolute;
}

.title-container {
  margin: 0;
  left: var(--title-container-left-margin);
  top: var(--general-top-margin);
  transform: translateY(var(--centering-translation));
}

h1.title-text-style,
.sub-title-text {
  color: var(--main-text-color);
  white-space: nowrap;
  text-align: left;
}

.logo-image {
  border-radius: var(--standard-edge_radius);
  width: var(--logo-image-size);
  height: var(--logo-image-size);
  transform: translateY(var(--centering-translation));
}

h1.title-text-style {
  font-size: var(--title-text-font-size);
  transform: translate(35%, -120%);
  font-weight: bold;
}

.sub-title-text {
  font-size: var(--subtitle-text-font-size);
  transform: translate(var(--sub-title-translate-x), 50%);
  font-weight: normal;
}

/* Header button styling */
.header-button-container {
  width: var(--header-button-width);
  height: var(--header-button-height);
  background-color: var(--button-color); /* Button Color */
  border-radius: var(--standard-edge_radius);
  transition: background-color 0.3s ease;
  text-align: center;
  top: 25%;
}

.header-button-container:hover {
  background-color: var(--button-hover-color);
  color: var(--main-text-color);
  cursor: pointer;
}

/* Touch devices need this workaround so that 
they dont trigger the hover behavior on tap.
This just reverts touch devices back to the 
original value instead of the hover one */
@media (hover: none) {
  .header-button-container {
    background-color: var(--button-color);
    color: initial; /* Revert text color */
  }
}

.header-button-text {
  color: var(--main-text-color);
  text-align: center;
  top: var(--general-top-margin);
  left: var(--general-left-margin);
  font-size: var(--header-button-text-size);
  font-weight: normal;
  white-space: nowrap;
}

/* github button styling */
.github-button-container {
  right: var(--middle-button-right-margin);
  position: absolute;
}

.github-text {
  transform: translate(-20%, var(--centering-translation));
}

.fab.fa-github {
  color: #ffffff; /* Set the color of the GitHub icon */
  font-size: var(
    --github-icon-size
  ); /* Called font, but its really the size of the GitHub icon */
  top: var(--general-top-margin);
  left: var(--general-left-margin);
  transform: translate(-185%, calc(var(--centering-translation) - 5%));
}

/* about me button styling */
.about-me-button-container {
  right: var(--left-button-right-margin);
  position: absolute;
}

.about-me-text {
  transform: translate(
    var(--centering-translation),
    var(--centering-translation)
  );
}

/* home button styling */
.home-button-container {
  right: var(--right-button-right-margin);
  position: absolute;
}

.home-text {
  transform: translate(
    var(--centering-translation),
    var(--centering-translation)
  );
}

/* footer.js Styling */
.footer-banner {
  position: relative; /* Position this wherever (this is the origin for all of this obj's children */
  background-color: var(--hide-color); /*Banner color*/
  color: var(--main-text-color); /*Text color on the banner*/
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-main-text {
  font-size: var(--footer-main-text-font-size);
  text-align: center;
  color: var(--main-text-color);
  left: var(--footer-text-left-margin);
  top: var(--footer-text-top-margin);
  font-weight: normal;
  transform: translate(
    var(--centering-translation),
    var(--centering-translation)
  );
  width: 100%;
  white-space: pre-wrap; /* Preserve newline characters */
  display: block;
  line-height: 1;
}

.footer-main-text a {
  color: var(--link-color);
  text-decoration: none; /* Remove the underline */
}

.footer-main-text a:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* Touch devices need this workaround so that 
they dont trigger the hover behavior on tap.
This just reverts touch devices back to the 
original value instead of the hover one */
@media (hover: none) {
  .footer-main-text a {
    text-decoration: none;
  }
}

/* LinkedIn footer button styling */
.linkedIn-button-container {
  width: var(--linkedin-button-width);
  height: var(--linkedin-button-height);
  background-color: var(--button-color); /* Button Color */
  border-radius: var(--standard-edge_radius);
  transition: background-color 0.3s ease;
  text-align: center;
  right: var(--linkedIn-button-right-margin);
  bottom: var(--linkedIn-button-bottom-margin);
  position: absolute;
}

.linkedIn-button-container:hover {
  background-color: var(--button-hover-color);
  color: var(--main-text-color);
  cursor: pointer;
}

/* Touch devices need this workaround so that 
they dont trigger the hover behavior on tap.
This just reverts touch devices back to the 
original value instead of the hover one */
@media (hover: none) {
  .linkedIn-button-container {
    background-color: var(--button-color);
    color: initial; /* Revert text color */
  }
}

.linkedIn-text {
  color: var(--main-text-color);
  text-align: center;
  top: var(--general-top-margin);
  left: var(--general-left-margin);
  transform: translate(-20%, var(--centering-translation));
  font-size: var(--linkedin-text-font-size);
  font-weight: normal;
}

.fab.fa-linkedin {
  color: #ffffff; /* Set the color of the GitHub icon */
  font-size: var(--linkedin-icon-size); /* icon size */
  top: var(--general-top-margin);
  left: var(--general-left-margin);
  transform: translate(-195%, calc(var(--centering-translation) - 8%));
}
