/* Import constants */
@import "../../Shared-General-Assets/css/general-shared-constants.css";

/* Define CONSTANT variables */
:root {
  /* Transformations */
  --about-me-TITLE-text-centering-translation: -26%;
  --about-me-text-centering-translation: -50%;
  --header-button-separation: 120%;
  --left-header-button-translation-original: 1100%;
  --header-button-vertical-translation: 65%;
  --left-header-button-translation: var(
    --left-header-button-translation-original
  );
  /* Sizes */
  --header-height-original: 8vw;
  --header-height: var(--header-height-original);
  --footer-height-original: 14vw;
  --footer-height: var(--footer-height-original);
  --game-box-width-original: 90vw;
  --game-box-width: var(--game-box-width-original);
  --game-box-height-original: 20vw;
  --game-box-height: var(--game-box-height-original);
  --about-me-box-width-og: 90vw;
  --about-me-box-width: var(--about-me-box-width-og);
  --about-me-box-height-og: 35vw;
  --about-me-box-height: var(--about-me-box-height-og);
  --about-me-image-width: 15vw;
  --about-me-image-height: calc(
    1.8 * 15vw
  ); /* Maintain 450 to 250 h to w ratio */
  /* Edge Margins */
  --title-container-left-margin: 3%;
  --game-button-left-margin: 17%;
  --game-desc-text-left-margin: 5%;
  --game-title-text-top-margin: 10%;
  --game-desc-text-top-margin: 30%;
  --footer-text-left-margin: 50%;
  --footer-text-top-margin: 30%;
  --about-me-title-text-top-margin: 7%;
  --about-me-sub-title-text-top-margin: 29%;
  --about-me-main-text-top-margin: 41%;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (max-width: 600px) {
  :root {
    /* Portrait mode scaling */
    --portrait-game-box-scale-factor-y: 1.8;
    --portrait-game-box-scale-factor-x: 1.075;
    --game-desc-width-scale-factor-y: 0.85;
    /* Transformations */
    --left-header-button-translation: calc(
      var(--left-header-button-translation-original) - 630%
    );
    --about-me-TITLE-text-centering-translation: -16%;
    --about-me-text-centering-translation: -30%;
    /* Sizes */
    --header-height: calc(var(--header-height-original) * 1.8);
    --footer-height: calc(var(--footer-height-original) * 1.8);
    --game-box-height: calc(
      var(--game-box-height-original) * var(--portrait-game-box-scale-factor-y)
    );
    --game-box-width: calc(
      var(--game-box-width-original) * var(--portrait-game-box-scale-factor-x)
    );
    --about-me-box-width: calc(var(--about-me-box-width-og) * 0.75);
    --about-me-box-height: calc(var(--about-me-box-height-og) * 3.7);
    /* Edge Margins */
    --game-button-left-margin: 22%;
    --game-desc-text-left-margin: 8%;
    --about-me-title-text-top-margin: 5%;
    --about-me-sub-title-text-top-margin: 18.5%;
    --about-me-main-text-top-margin: 30.5%;
  }
}

/* Define DERIVED variables (aka ones based on others) */
:root {
  /* Transformations */
  --middle-header-button-translation: calc(
    var(--left-header-button-translation) + var(--header-button-separation)
  );
  --right-header-button-translation: calc(
    var(--middle-header-button-translation) + var(--header-button-separation)
  );
  /* Sizes */
  --game-button-width: calc(var(--game-box-width) / 3.3);
  --game-button-height: calc(var(--game-box-height) * 0.95);
  --game-desc-width: calc(var(--game-box-width) * (0.6));
  --game-desc-height: calc(var(--game-box-height) * 0.95);
  --logo-image-size: calc(var(--header-height) * (2 / 3));
  --linkedin-button-width: calc(var(--footer-height) * 0.8);
  --linkedin-button-height: calc(var(--footer-height) * 0.4);
  --header-button-width: calc(var(--header-height) * 0.83);
  --header-button-height: calc(var(--header-height) * 0.45);
  --github-icon-size: calc(var(--header-height) * 0.2);
  --game-desc-text-width: calc(var(--game-desc-width) * 0.9);
  --about-me-title-font-width-og: calc(var(--about-me-box-width) * 0.5);
  --about-me-title-font-width: var(--about-me-title-font-width-og);
  --about-me-subtitle-font-width-og: calc(var(--about-me-box-width) * 0.7);
  --about-me-subtitle-font-width: var(--about-me-subtitle-font-width-og);
  --about-me-main-text-font-width-og: calc(var(--about-me-box-width) * 0.7);
  --about-me-main-text-font-width: var(--about-me-main-text-font-width-og);
  --game-box-blank-space-height: calc(var(--game-box-height) * 0.07);
  /* Font Sizes */
  --gamedesc-title-font-size-original: calc(var(--game-button-width) * 0.06);
  --gamedesc-title-font-size: var(--gamedesc-title-font-size-original);
  --gamedesc-body-text-font-size-original: calc(
    var(--game-button-width) * 0.06
  );
  --title-text-font-size: calc(var(--header-height) * 0.25);
  --subtitle-text-font-size: calc(var(--header-height) * 0.125);
  --gamedesc-body-text-font-size: var(--gamedesc-body-text-font-size-original);
  --linkedin-icon-size: calc(var(--linkedin-button-height) * 0.45);
  --footer-main-text-font-size: calc(var(--footer-height) * 0.125);
  --about-me-title-font-size-og: calc(var(--about-me-box-width) * 0.035);
  --about-me-title-font-size: var(--about-me-title-font-size-og);
  --about-me-subtitle-font-size-og: calc(var(--about-me-box-width) * 0.019);
  --about-me-subtitle-font-size: var(--about-me-subtitle-font-size-og);
  --about-me-main-text-font-size-og: calc(var(--about-me-box-width) * 0.014);
  --about-me-main-text-font-size: var(--about-me-main-text-font-size-og);
  --header-button-text-size: calc(var(--header-button-width) * 0.16);
  --linkedin-text-font-size: calc(var(--linkedin-button-height) * 0.24);
  /* Edge Margins */
  --game-description-left-margin: calc(var(--game-button-left-margin) + 50%);
}

/* Media query to override DERIVED values for vertical screens (portrait orientation) */
@media screen and (max-width: 600px) {
  :root {
    /* Font Sizes */
    --gamedesc-title-font-size: calc(
      var(--gamedesc-title-font-size-original) * 1
    );
    --gamedesc-body-text-font-size: calc(
      var(--gamedesc-body-text-font-size-original) * 1
    );
    --about-me-main-text-font-size: calc(
      var(--about-me-main-text-font-size-og) * 3.1
    );
    --about-me-title-font-size: calc(var(--about-me-title-font-size-og) * 2.9);
    --about-me-subtitle-font-size: calc(
      var(--about-me-subtitle-font-size-og) * 3.2
    );
    /* Sizes */
    --game-button-width: calc(var(--game-box-width) / 2.3);
    --game-desc-width: calc(var(--game-box-width) * (0.5));
    --about-me-subtitle-font-width: calc(
      var(--about-me-subtitle-font-width-og) * 1.8
    );
    --about-me-main-text-font-width: calc(
      var(--about-me-main-text-font-width-og) * 1.8
    );
    --about-me-title-font-width: calc(
      var(--about-me-title-font-width-og) * 1.8
    );
    /* Edge Margins */
    --game-description-left-margin: calc(var(--game-button-left-margin) + 50%);
  }
}

/* Main page attributes, such as background, font, etc. */
@font-face {
  font-family: MyCustomFont;
  src: url("../../Shared-General-Assets/fonts/Ronysiswadi15Bold-6YAwY.ttf")
    format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: MyCustomFont;
  src: url("../../Shared-General-Assets/fonts/Ronysiswadi15-51Dv8.ttf")
    format("truetype");
  font-weight: normal;
}

body {
  font-family: MyCustomFont, sans-serif;
  /* Background-related styles for body are defined in the .html file since they are urgent and we want to guarentee those render in */
}

html {
  margin: 0;
  padding: 0;
}
