/* Define CONSTANT variables */
:root {
  /* Edge Margins */
  --privacy-policy-left-margin: 5%;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (max-width: 600px) {
  :root {
    /* Edge Margins */
    --privacy-policy-left-margin: 5%;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Change the background color */
  color: #333; /* Change the text color */
  /* padding: 20px; */
}

.privacy-policy-container {
  max-width: 800px;
  margin-left: var(--privacy-policy-left-margin);
  margin-right: var(--privacy-policy-left-margin);
}

.privacy-policy-container h1 {
  color: var(--main-text-color);
}

.privacy-policy-container p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-text-color);
}
