/* Define variables */
:root {
  /* Sizes */
  --scroll-progress-w: 40%;
  --scroll-progress-mr: 8px;
  --scroll-progress-mb: 8px;
  --scroll-progress-border-radius: 10px;
  --scroll-progress-padding: 16px;
}

/* Media query to override values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Sizes */
    --scroll-progress-w: auto;
    --scroll-progress-mr: 0px;
    --scroll-progress-mb: 0px;
    --scroll-progress-border-radius: auto;
    --scroll-progress-padding: 12px;
  }
}

.scroll-progress {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: var(--scroll-progress-mb) var(--scroll-progress-mr)
    var(--scroll-progress-mb) var(--scroll-progress-mr);
  width: var(--scroll-progress-w);
  background-color: var(--info-banner-background-color);
  padding: var(--scroll-progress-padding);
  text-align: center;
  z-index: 10;
  border-radius: var(--scroll-progress-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-progress p {
  font-size: 16px;
  padding: 5px 20px 10px 20px;
  text-align: center;
  /* Prevent bug on phone where going landscape -> portrait causes cookie banner text to be huge */
  -webkit-text-size-adjust: none;
}

.scroll-progress a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  .scroll-progress a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
.scroll-progress a.active {
  text-decoration: underline; /* Add underline on click */
}

.scroll-progress-button-container {
  display: flex;
  justify-content: space-between; /* Pushes buttons apart */
  width: 100%;
}

.scroll-progress button {
  background-color: var(--button-color);
  color: var(--main-text-color);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  width: 48%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.scroll-progress button:last-child {
  margin-right: 0; /* Remove margin from last button */
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  .scroll-progress button:hover {
    background-color: var(--button-hover-color);
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
.scroll-progress button.active {
  filter: brightness(0.8) invert(25%);
}
