/* Define variables */
:root {
  /* Edge Margins */
  --gol-info-button-container-mr: 6vw;
  --gol-info-button-container-mb: 13vh;
  --gol-info-header-ml: 95%;
  --gol-info-header-mt: 5%;
  --gol-toggle-pause-button-container-mr: 50vw;
  --gol-toggle-pause-button-container-mb: 13vh;
  --gol-advance-button-container-mr: 40vw;
  --gol-advance-button-container-mb: 13vh;
  --gol-reset-tiles-button-container-mr: 94vw;
  --gol-reset-tiles-button-container-mb: 13vh;
  /* Font */
  --gol-button-text-size: calc(10vw * 0.175);
  /* Font Sizes */
  --gol-general-font-size: calc(10vw * 0.18);
  --gol-x-button-font-size: calc(10vw * 0.2);
  /* Sizes */
  --gol-button-w: calc(10vw * 0.75);
  --gol-button-h: calc(10vh * 0.8);
  --toggle-pause-icon-size: 75%;
  --advance-icon-size: 75%;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Edge Margins */
    --gol-info-button-container-mr: 16vw;
    --gol-info-button-container-mb: 9vh;
    --gol-info-header-ml: 90%;
    --gol-info-header-mt: 5%;
    --gol-toggle-pause-button-container-mr: 50vw;
    --gol-toggle-pause-button-container-mb: 9vh;
    --gol-advance-button-container-mr: 35vw;
    --gol-advance-button-container-mb: 9vh;
    --gol-reset-tiles-button-container-mr: 84vw;
    --gol-reset-tiles-button-container-mb: 9vh;
    /* Font */
    --gol-button-text-size: calc(10vh * 0.2);
    /* Font Sizes */
    --gol-general-font-size: calc(10vw * 0.4);
    --gol-x-button-font-size: calc(10vw * 0.5);
    /* Sizes */
    --gol-button-w: calc(20vw * 0.85);
    --gol-button-h: calc(10vh * 0.43);
    --toggle-pause-icon-size: 75%;
    --advance-icon-size: 75%;
  }
}

body {
  /* Background-related styles for body are defined in the .html file since they are urgent and we want to guarentee those render in */
}

/* Define style for link */
a {
  color: var(--link-color);
  text-decoration: none; /* Remove the underline */
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
a.active {
  text-decoration: underline; /* Add underline on click */
}

/* Buttons */
.gol-button {
  position: absolute;
  width: var(--gol-button-w);
  height: var(--gol-button-h);
  border: none;
  background-color: transparent;
  color: var(--main-color);
  font-size: var(--gol-button-text-size);
  transform: translate(-50%, 0%);
  transition: transform 0.3s ease;
  cursor: pointer;
  pointer-events: auto;
}

.gol-disabled-button-container {
  pointer-events: none;
}

.gol-disabled-button {
  pointer-events: none;
  filter: brightness(0.6);
}

/* Pause-play button */
.toggle-pause-button-container {
  position: fixed;
  right: var(--gol-toggle-pause-button-container-mr);
  bottom: var(--gol-toggle-pause-button-container-mb);
}

.fas.fa-pause {
  position: relative;
  color: #000000;
  font-size: var(--toggle-pause-icon-size);
  margin: 0 0 0 0; /* Adjust margin as needed */
}

.fas.fa-play {
  position: relative;
  color: #000000;
  font-size: var(--toggle-pause-icon-size);
  margin: 0 0 0 0; /* Adjust margin as needed */
}

/* advance button */
.advance-button-container {
  position: fixed;
  right: var(--gol-advance-button-container-mr);
  bottom: var(--gol-advance-button-container-mb);
}

.fas.fa-chevron-right {
  position: relative;
  color: #000000;
  font-size: var(--advance-icon-size);
  margin: 0 0 0 0; /* Adjust margin as needed */
}

/* Reset button */
.reset-tiles-button-container {
  position: fixed;
  right: var(--gol-reset-tiles-button-container-mr);
  bottom: var(--gol-reset-tiles-button-container-mb);
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  .gol-button:hover {
    transform: translate(-50%, 0%) scale(1.2);
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
.gol-button.active {
  transform: translate(-50%, 0%) scale(1.2);
  filter: brightness(0.8);
}

.gol-icon-img,
.gol-icon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.gol-icon-text {
  color: var(--secondary-color);
  font-weight: bold;
}

.gol-icon-img {
  width: 100%;
  height: 100%;
}

/* Info screen styles */
.info-button-container {
  position: fixed;
  right: var(--gol-info-button-container-mr);
  bottom: var(--gol-info-button-container-mb);
}

.info-box {
  display: none; /* Hide this to start */
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--panel-color);
  pointer-events: auto;
}

.info-header {
  position: relative;
  left: var(--gol-info-header-ml);
  top: var(--gol-info-header-mt);
  font-size: var(--gol-x-button-font-size);
  color: var(--main-text-color);
  pointer-events: auto;
  width: 0%;
  height: 0%;
}

.info-content {
  position: absolute;
  padding: 4vw;
  left: var(--main-ml);
  top: 0%;
  font-size: var(--gol-general-font-size);
  color: var(--main-text-color);
  pointer-events: auto;
}

.close-button {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
  transform: scale(1.6);
  transition: transform 0.3s ease;
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  .close-button:hover {
    transform: scale(2.2);
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
.close-button.active {
  transform: scale(2.2);
  filter: brightness(0.8) invert(25%);
}
