/* Define variables */
:root {
  /* Edge Margins */
  --settings-side-panel-mt: 0%;
  --settings-side-panel-bottom-half-mt: 0%;
  --gol-info-button-container-mr: 6vw;
  --gol-info-button-container-mb: 13vh;
  --gol-info-header-ml: 95%;
  --gol-info-header-mt: 5%;
  --gol-toggle-pause-button-container-mr: 50vw;
  --gol-toggle-pause-button-container-mb: 13vh;
  --gol-advance-button-container-mr: 42.2vw;
  --gol-advance-button-container-mb: 13vh;
  --gol-reset-tiles-button-container-mr: 94vw;
  --gol-reset-tiles-button-container-mb: 13vh;
  --gol-pop-gen-text-container-mb: 4.5%;
  --gol-pop-gen-text-container-mr: 24.1vw;
  --gol-settings-button-container-mr: 6vw;
  --gol-settings-button-container-mb: 21.6vh;
  --gol-ui-element-mt: 3vh;
  --gol-toggle-disco-button-container-mr: 57.8vw;
  --gol-toggle-disco-button-container-mb: 13vh;
  --gol-slider-label-mt: 0%;
  --gol-slider-hover-label-ml: 80%;
  --gol-input-ml: 10%;
  --gol-toggle-automatic-button-container-mr: 94vw;
  --gol-toggle-automatic-button-container-mb: 21.6vh;
  /* Font Sizes */
  --gol-button-text-size: calc(10vw * 0.175);
  --gol-ui-element-font-size: calc(10vw * 0.14);
  --gol-settings-font-size: 1.8vw;
  --gol-general-font-size: calc(10vw * 0.16);
  --gol-x-button-font-size: calc(10vw * 0.2);
  --gol-pop-gen-text-font-size: calc(10vh * 0.3);
  /* Sizes */
  --gol-button-w: calc(10vw * 0.75);
  --gol-button-h: calc(10vh * 0.8);
  --gol-icon-size: 75%;
  --gol-ui-element-h: 5vh;
  --gol-toggle-size: calc(10vw * 0.2);
  --gol-input-slider-w: 60vw;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Edge Margins */
    --settings-side-panel-mt: 3.5%;
    --gol-info-button-container-mr: 12vw;
    --gol-info-button-container-mb: 6vh;
    --gol-info-header-ml: 90%;
    --gol-info-header-mt: 5%;
    --gol-toggle-pause-button-container-mr: 50vw;
    --gol-toggle-pause-button-container-mb: 6vh;
    --gol-advance-button-container-mr: 31vw;
    --gol-advance-button-container-mb: 6vh;
    --gol-reset-tiles-button-container-mr: 88vw;
    --gol-reset-tiles-button-container-mb: 6vh;
    --gol-pop-gen-text-container-mb: 7vh;
    --gol-pop-gen-text-container-mr: 50vw;
    --gol-settings-button-container-mr: 12vw;
    --gol-settings-button-container-mb: 11.2vh;
    --gol-ui-element-mt: 2vh;
    --gol-toggle-disco-button-container-mr: 69vw;
    --gol-toggle-disco-button-container-mb: 6vh;
    --gol-slider-label-mt: -43%;
    --gol-slider-hover-label-ml: 80%;
    --gol-input-ml: 12%;
    --gol-toggle-automatic-button-container-mr: 88vw;
    --gol-toggle-automatic-button-container-mb: 11.2vh;
    /* Font */
    --gol-button-text-size: calc(10vh * 0.2);
    --gol-ui-element-font-size: calc(10vw * 0.35);
    /* Font Sizes */
    --gol-general-font-size: calc(10vw * 0.4);
    --gol-x-button-font-size: calc(10vw * 0.5);
    --gol-pop-gen-text-font-size: calc(10vh * 0.2);
    --gol-settings-font-size: 3.6vw;
    /* Sizes */
    --gol-button-w: calc(20vw * 0.85);
    --gol-button-h: calc(10vh * 0.43);
    --gol-icon-size: 75%;
    --gol-toggle-size: calc(10vh * 0.25);
    --gol-input-slider-w: 42vw;
  }
}

body {
  /* Background-related styles for body are defined in the .html file since they are urgent and we want to guarentee those render in */
}

/* Define style for link */
a {
  color: var(--link-color);
  text-decoration: none; /* Remove the underline */
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
a.active {
  text-decoration: underline; /* Add underline on click */
}

/* Population/generation text */
.pop-gen-text-container {
  user-select: none; /* Prevent text highlighting */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: var(--gol-pop-gen-text-container-mb);
  right: var(--gol-pop-gen-text-container-mr);
  transform: translate(50%, 0%);
}

.pop-gen-text {
  user-select: none; /* Prevent text highlighting */
  text-align: center;
  color: var(--main-text-color);
  font-size: var(--gol-pop-gen-text-font-size);
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
  margin: 3px 0;
}

.pop-gen-text-grow {
  transform: scale(1.2); /* Grow the text */
}

/* Buttons */
.gol-button {
  position: absolute;
  width: var(--gol-button-w);
  height: var(--gol-button-h);
  border: none;
  background-color: transparent;
  color: var(--main-color);
  font-size: var(--gol-button-text-size);
  transform: translate(-50%, 0%);
  transition: transform 0.3s ease;
  cursor: pointer;
  pointer-events: auto;
}

.gol-disabled-button-container {
  pointer-events: none;
}

.gol-disabled-button {
  pointer-events: none;
  filter: brightness(0.6);
}

/* Disco mode button  */
.toggle-disco-button-container {
  position: fixed;
  right: var(--gol-toggle-disco-button-container-mr);
  bottom: var(--gol-toggle-disco-button-container-mb);
}

.fas.fa-gift {
  position: relative;
  color: var(--secondary-color);
  font-size: var(--gol-icon-size);
  margin: 0 0 0 0; /* Adjust margin as needed */
}

.fas.fa-ban {
  position: relative;
  color: var(--secondary-color);
  font-size: var(--gol-icon-size);
  margin: 0 0 0 0; /* Adjust margin as needed */
}

/* Automatic mode button  */
.toggle-automatic-button-container {
  position: fixed;
  right: var(--gol-toggle-automatic-button-container-mr);
  bottom: var(--gol-toggle-automatic-button-container-mb);
}

.fas.fa-robot {
  position: relative;
  color: var(--secondary-color);
  font-size: var(--gol-icon-size);
  margin: 0 0 0 0; /* Adjust margin as needed */
}

.fas.fa-circle-stop {
  position: relative;
  color: var(--secondary-color);
  font-size: var(--gol-icon-size);
  margin: 0 0 0 0; /* Adjust margin as needed */
}

/* Pause-play button */
.toggle-pause-button-container {
  position: fixed;
  right: var(--gol-toggle-pause-button-container-mr);
  bottom: var(--gol-toggle-pause-button-container-mb);
}

.fas.fa-pause {
  position: relative;
  color: var(--secondary-color);
  font-size: var(--gol-icon-size);
  margin: 0 0 0 0; /* Adjust margin as needed */
}

.fas.fa-play {
  position: relative;
  color: var(--secondary-color);
  font-size: var(--gol-icon-size);
  margin: 0 0 0 0; /* Adjust margin as needed */
}

/* advance button */
.advance-button-container {
  position: fixed;
  right: var(--gol-advance-button-container-mr);
  bottom: var(--gol-advance-button-container-mb);
}

.fas.fa-chevron-right {
  position: relative;
  color: var(--secondary-color);
  font-size: var(--gol-icon-size);
  margin: 0 0 0 0; /* Adjust margin as needed */
}

/* Reset button */
.reset-tiles-button-container {
  position: fixed;
  right: var(--gol-reset-tiles-button-container-mr);
  bottom: var(--gol-reset-tiles-button-container-mb);
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  .gol-button:hover {
    filter: brightness(0.8);
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
.gol-button.active {
  filter: brightness(0.6);
}

.gol-icon-img,
.gol-icon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.gol-icon-text {
  color: var(--secondary-color);
  font-weight: bold;
}

.gol-icon-img {
  width: 100%;
  height: 100%;
}

/* Info screen styles */
.info-button-container {
  position: fixed;
  right: var(--gol-info-button-container-mr);
  bottom: var(--gol-info-button-container-mb);
}

.info-box {
  display: none; /* Hide this to start */
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--panel-color);
  pointer-events: auto;
}

.info-header {
  position: relative;
  left: var(--gol-info-header-ml);
  top: var(--gol-info-header-mt);
  font-size: var(--gol-x-button-font-size);
  color: var(--main-text-color);
  pointer-events: auto;
  width: 0%;
  height: 0%;
}

.info-content {
  position: absolute;
  padding: 4vw;
  left: var(--main-ml);
  top: 0%;
  font-size: var(--gol-general-font-size);
  color: var(--main-text-color);
  pointer-events: auto;
}

.close-button {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
  transform: scale(1.6);
  transition: transform 0.3s ease;
}

/* Settings screen styles */
.settings-content-container {
  margin: 0px 5% 0px 5%;
  text-align: center;
  color: white;
  font-size: var(--gol-settings-font-size);
}

.settings-side-panel {
  position: relative;
  top: var(--settings-side-panel-mt);
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  display: none; /* hide at first */
  align-items: center;
}

.settings-side-panel-bottom-half {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  margin: var(--settings-side-panel-bottom-half-mt) 0px 0px 0px;
}

@media screen and (orientation: portrait), (max-width: 600px) {
  /* Different format for phone */
  .settings-side-panel-bottom-half {
    align-items: flex-start;
  }
}

.ui-settings-options-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0px 0px 0px 5%;
}

.settings-button-container {
  position: fixed;
  right: var(--gol-settings-button-container-mr);
  bottom: var(--gol-settings-button-container-mb);
}

.fas.fa-gear {
  position: relative;
  color: var(--secondary-color);
  font-size: var(--gol-icon-size);
  margin: 0 0 0 0; /* Adjust margin as needed */
}

/* Toggle box styles */
.toggle-box-container {
  height: var(--gol-ui-element-h);
  display: flex;
  align-items: center;
  position: relative;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: var(--gol-ui-element-mt) 0px 0px 0px;
}

.toggle-label {
  margin-left: calc(var(--gol-toggle-size) * 0.5);
  font-size: var(--gol-ui-element-font-size);
  white-space: nowrap;
  color: white;
}

.toggle-input {
  width: var(--gol-toggle-size);
  height: var(--gol-toggle-size);
  cursor: pointer;
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  .close-button:hover {
    transform: scale(2.2);
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
.close-button.active {
  transform: scale(2.2);
  filter: brightness(0.8) invert(25%);
}

/* Slider styles */
.slider-container {
  width: auto;
  pointer-events: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: var(--gol-ui-element-mt) 0px 0px 0px;
}

.slider-label {
  pointer-events: none;
  font-size: var(--gol-ui-element-font-size);
  white-space: nowrap;
  color: white;
  margin: 0px 0px 0px 0px;
}

.slider-hover-label {
  position: absolute;
  display: none; /* Hide the label until we hover on it below */
  font-size: var(--gol-ui-element-font-size);
  white-space: nowrap;
  color: white;
  margin: 0px 0px 0px var(--gol-slider-hover-label-ml);
}

.slider-container:hover .slider-hover-label {
  /* DONT do the @media (hover: hover) thing for fixing hovering */
  /* on phone here. This is because we like how on the phone the */
  /* hover label for the slider gets stuck when a player holds it. */
  /* Theres a tiny side effect of making the value persist but thats */
  /* fine since theyre likely to tap elsewhere to fix it soon after. */
  display: block; /* Show the hover label when hovering over the slider container */
}

.touch-hover .slider-hover-label {
  /* for touching on phone (see the eventListener adding that needs to occur in settings-menu.js for this to work) */
  display: block;
}

input[type="range"] {
  cursor: pointer;
  pointer-events: auto; /* Can click on this */
  height: var(--gol-ui-element-h);
  width: var(--gol-input-slider-w);
  margin: 0px 0px 0px var(--gol-input-ml);
}

input[type="range"]:active {
  /* Define styles for when the slider is being interacted with */
  transform: scale(1.18);
}
