/* Import constants */
@import "/Shared-General-Assets/css/general-shared-constants.css";

/* Define variables */
:root {
  /* Edge Margins */
  --small-top-margin: 23%;
  --info-button-margin-right: 7vw;
  --settings-button-margin-left: 7vw;
  --info-button-margin-bot: 20vh;
  --info-header-x-button-margin-left: 95%;
  --info-header-x-button-margin-top: 5%;
  /* Size */
  --info-button-size: calc(20vw * 0.45);
  /* Font Sizes */
  --test-font-size: calc(10vw * 0.2);
  --info-button-font-size: calc(10vw * 0.2);
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Font Sizes */
    --info-button-size: calc(20vh * 0.65);
    /* Font Sizes */
    --test-font-size: calc(10vw * 0.38);
    --info-button-font-size: calc(10vh * 0.25);
    /* Edge Margins */
    --info-button-margin-right: 20vw;
    --settings-button-margin-left: 20vw;
    --info-button-margin-bot: 13vh;
    --info-header-x-button-margin-left: 90%;
    --info-header-x-button-margin-top: 5%;
  }
}

body {
  /* Background-related styles for body are defined in the .html file since they are urgent and we want to guarentee those render in */
}

/* Define style for link */
a {
  color: var(--link-color);
  text-decoration: none; /* Remove the underline */
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
a.active {
  text-decoration: underline; /* Add underline on click */
}

/* Info and settings screen styles */
.info-button-container,
.settings-button-container {
  position: fixed;
}

.info-button-container {
  right: var(--info-button-margin-right);
  bottom: var(--info-button-margin-bot);
}

.settings-button-container {
  left: var(--settings-button-margin-left);
  bottom: var(--info-button-margin-bot);
}

.info-button {
  position: absolute;
  width: var(--info-button-size);
  height: var(--info-button-size);
  border: none;
  background-color: transparent;
  color: var(--main-color);
  font-size: var(--info-button-font-size);
  transform: translate(-50%, 0%);
  transition: transform 0.3s ease;
  cursor: pointer;
  pointer-events: auto;
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  .info-button:hover {
    transform: translate(-50%, 0%) scale(1.2);
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
.info-button.active {
  transform: translate(-50%, 0%) scale(1.2);
  filter: brightness(0.88) invert(17%);
}

.info-icon-img,
.info-icon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.info-icon-text {
  color: var(--main-text-color);
}

.info-icon-img {
  width: 100%;
  height: 100%;
}

.info-box {
  display: none; /* Hide this to start */
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--panel-color);
  pointer-events: auto;
}

.info-header {
  position: relative;
  left: var(--info-header-x-button-margin-left);
  top: var(--info-header-x-button-margin-top);
  font-size: var(--test-font-size);
  color: var(--main-text-color);
  pointer-events: auto;
}

.info-content {
  position: absolute;
  padding: 4vw;
  left: var(--main-left-margin);
  top: 0%;
  font-size: var(--test-font-size);
  color: var(--main-text-color);
  pointer-events: auto;
}

.close-button {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
  transform: scale(1.6);
  transition: transform 0.3s ease;
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  .close-button:hover {
    transform: scale(2.2);
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
.close-button.active {
  transform: scale(2.2);
  filter: brightness(0.8) invert(25%);
}
