/* Import constants */
@import "/Shared-General-Assets/css/general-shared-constants.css";

/* Define CONSTANT variables */
:root {
  /* Size */
  --input-slider-width: 15vw;
  --input-slider-height: 5vh;
  --slider-blank-space-height: 6vh;
  --toggle-top-margin: 3vh;
  --leader-toggle-size: calc(10vw * 0.2);
  /* Margins */
  --hover-slider-label-right-margin: 0%;
  /* Translations */
  --slider-label-y-shift: -80%;
  /* Font Sizes */
  --slider-font-size: calc(10vw * 0.14);
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Size */
    --input-slider-width: 28.5vw;
    --slider-blank-space-height: 5vh;
    --toggle-top-margin: 2.5vh;
    --leader-toggle-size: calc(10vh * 0.25);
    /* Margins */
    /* Translations */
    --slider-label-y-shift: -30%;
    /* Font Sizes */
    --slider-font-size: calc(10vw * 0.35);
  }
}

html,
body {
  overflow: hidden; /* Prevents scroll on browser */
  height: 100%;
}

body {
  position: relative; /* ABOVE SCROLL PREVENTION DOES NOT WORK IF THIS IS NOT RELATIVE ... idk why see this https://stackoverflow.com/questions/10592411/disable-scrolling-in-all-mobile-devices */
}

.slider-blank-space {
  height: var(--slider-blank-space-height);
}

.ui-settings-options-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0px 0px 0px 5%;
}

.slider-container {
  position: relative;
  pointer-events: none;
  height: var(--input-slider-height);
  width: var(--input-slider-width);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--slider-blank-space-height) 0px 0px 0px;
}

.slider-label {
  position: absolute;
  left: 0;
  top: var(--slider-label-y-shift);
  pointer-events: none;
  font-size: var(--slider-font-size);
  white-space: nowrap;
  color: white;
}

.slider-hover-label {
  position: absolute;
  top: var(--slider-label-y-shift);
  right: var(--hover-slider-label-right-margin);
  display: none; /* Hide the label until we hover on it below */
  font-size: var(--slider-font-size);
  white-space: nowrap;
  color: white;
}

/* DONT do the @media (hover: hover) thing for fixing hovering */
/*  on phone here. This is because we like how on the phone the 
hover label for the slider gets stuck when a player holds it.
Theres a tiny side effect of making the value persist but thats
fine since theyre likely to tap elsewjere to fix it soon after. */
.slider-container:hover .slider-hover-label {
  display: block; /* Show the hover label when hovering over the slider container */
}

/* for touching on phone (see the eventListenerAdding that needs to occur in boid-settings.js for this to work) */
.touch-hover .slider-hover-label {
  display: block;
}

input[type="range"] {
  position: absolute;
  cursor: pointer;
  pointer-events: auto; /* Can click on this */
  height: var(--input-slider-height);
  width: var(--input-slider-width);
}

/* Define styles for when the slider is being interacted with */
input[type="range"]:active {
  transform: scale(1.18); /* Increase the scale of the slider */
}

/* Toggle box styles */
.toggle-box-container {
  height: var(--input-slider-height);
  display: flex;
  align-items: center;
  position: relative;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: var(--toggle-top-margin) 0px 0px 0px;
}

.toggle-label {
  margin-left: calc(var(--leader-toggle-size) * 0.5);
  font-size: var(--slider-font-size);
  white-space: nowrap;
  color: white;
}

.toggle-input {
  width: var(--leader-toggle-size);
  height: var(--leader-toggle-size);
  cursor: pointer;
}
