/* Import constants */
@import "../../../Shared-General-Assets/css/general-shared-constants.css";

/* Define CONSTANT variables */
:root {
  /* Size */
  --input-slider-width-og: 15vw;
  --input-slider-width: var(--input-slider-width-og);
  --input-slider-height-og: 5vh;
  --input-slider-height: var(--input-slider-height-og);
  --slider-blank-space-height: 3vh;
  /* Margins */
  --slider-top-margin: 30vh;
  --slider-container-left-margin-og: 4%;
  --slider-container-left-margin: var(--slider-container-left-margin-og);
  --hover-slider-label-top-margin-og: 25%;
  --hover-slider-label-top-margin: var(--hover-slider-label-top-margin-og);
  --hover-slider-label-left-margin: 120%;
  /* Translations */
  --slider-label-x-shift: -80%;
  /* Font Sizes */
  --slider-font-size-og: calc(10vw * 0.14);
  --slider-font-size: var(--slider-font-size-og);
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (max-width: 600px) {
  :root {
    /* Size */
    --input-slider-width: calc(var(--input-slider-width-og) * 1.9);
    /* Margins */
    --hover-slider-label-top-margin: calc(
      var(--hover-slider-label-top-margin-og) * 1.5
    );
    --slider-container-left-margin: calc(
      var(--slider-container-left-margin-og) * 1.5
    );
    --slider-top-margin: 30vh;
    /* Font Sizes */
    --slider-font-size: calc(var(--slider-font-size-og) * 1.9);
  }
}

html,
body {
  overflow: hidden; /* Prevents scroll on browser */
  height: 100%;
}

body {
  position: relative; /* ABOVE SCROLL PREVENTION DOES NOT WORK IF THIS IS NOT RELATIVE ... idk why see this https://stackoverflow.com/questions/10592411/disable-scrolling-in-all-mobile-devices */
}

.slider-blank-space {
  height: var(--slider-blank-space-height);
}

.slider-container {
  position: relative;
  left: var(--slider-container-left-margin);
  top: var(--slider-top-margin);
  pointer-events: none;
  height: var(--input-slider-height);
  width: var(--input-slider-width);
}

.slider-label {
  position: absolute;
  left: 0;
  transform: translate(0%, var(--slider-label-x-shift));
  pointer-events: none;
  font-size: var(--slider-font-size);
  white-space: nowrap;
}

.slider-hover-label {
  position: absolute;
  top: var(--hover-slider-label-top-margin);
  left: var(--hover-slider-label-left-margin);
  display: none; /* Hide the label until we hover on it below */
  font-size: var(--slider-font-size);
  white-space: nowrap;
}

/* for hovering on computer */
.slider-container:hover .slider-hover-label {
  display: block; /* Show the hover label when hovering over the slider container */
}

/* for touching on phone (see the eventListenerAdding that needs to occur in boid-settings.js for this to work) */
.touch-hover .slider-hover-label {
  display: block;
}

input[type="range"] {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  pointer-events: auto; /* Can click on this */
}

/* Define styles for when the slider is being interacted with */
input[type="range"]:active {
  transform: scale(1.25); /* Increase the scale of the slider */
}
