/* Define CONSTANT variables */
:root {
  /* Size */
  --bb-settings-side-panel-img-size: 24vw;

  /* Margins */
  --settings-side-panel-mt: 0%;
  --bb-settings-side-panel-img-mr: 20%;
  --bb-settings-side-panel-img-mt: 0%;
  --bb-settings-side-panel-bottom-half-mt: 0%;

  /* Translations */

  /* Font Sizes */
  --bb-settings-font-size: 2vw;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Size */
    --bb-settings-side-panel-img-size: 42vw;

    /* Margins */
    --settings-side-panel-mt: 3.5%;
    --bb-settings-side-panel-img-mr: 5%;
    --bb-settings-side-panel-img-mt: 10%;
    --bb-settings-side-panel-bottom-half-mt: 0%;

    /* Font Sizes */
    --bb-settings-font-size: 4vw;
  }
}

.settings-content-container {
  margin: 0px 5% 0px 5%;
  text-align: center;
  color: white;
  font-size: var(--bb-settings-font-size);
}

.settings-side-panel {
  position: absolute;
  top: var(--settings-side-panel-mt);
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  display: none; /* hide at first */
  align-items: flex-start;
}

.settings-side-panel-bottom-half {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  margin: var(--bb-settings-side-panel-bottom-half-mt) 0px 0px 0px;
}

/* Different format for phone */
@media screen and (orientation: portrait), (max-width: 600px) {
  .settings-side-panel-bottom-half {
    align-items: flex-start;
  }
}

.settings-side-panel img {
  margin: var(--bb-settings-side-panel-img-mt)
    var(--bb-settings-side-panel-img-mr) 0px 0px;
  width: var(--bb-settings-side-panel-img-size);
  height: var(--bb-settings-side-panel-img-size);
}
