/* Import constants */
@import "/Shared-General-Assets/css/general-shared-constants.css";

/* Define CONSTANT variables */
:root {
  /* Size */
  --settings-img-size: 24vw;

  /* Margins */
  --settings-panel-top: 0%;
  --settings-image-right: 20%;
  --settings-image-top: 0%;
  --settings-bottom-panel-top-margin: 0%;

  /* Translations */

  /* Font Sizes */
  --settings-font-size: 2vw;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Size */
    --settings-img-size: 42vw;

    /* Margins */
    --settings-panel-top: 3.5%;
    --settings-image-right: 5%;
    --settings-image-top: 10%;
    --settings-bottom-panel-top-margin: 0%;

    /* Font Sizes */
    --settings-font-size: 4vw;
  }
}

.settings-content-container {
  margin: 0px 5% 0px 5%;
  text-align: center;
  color: white;
  font-size: var(--settings-font-size);
}

.settings-side-panel {
  position: absolute;
  top: var(--settings-panel-top);
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  display: none; /* hide at first */
  align-items: flex-start;
}

.settings-side-panel-bottom-half {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  margin: var(--settings-bottom-panel-top-margin) 0px 0px 0px;
}

/* Different format for phone */
@media screen and (orientation: portrait), (max-width: 600px) {
  .settings-side-panel-bottom-half {
    align-items: flex-start;
  }
}

.settings-side-panel img {
  margin: var(--settings-image-top) var(--settings-image-right) 0px 0px;
  width: var(--settings-img-size);
  height: var(--settings-img-size);
}
