/* Define variables */
:root {
  /* Edge Margins */
  --ft-updateTilegrid-button-container-ml: 6vw;
  --ft-updateTilegrid-button-container-mb: 13vh;
  --ft-resetTilegrid-button-container-ml: 6vw;
  --ft-resetTilegrid-button-container-mb: 30vh;
  --ft-mute-button-container-mr: 6vw;
  --ft-mute-button-container-mb: 30vh;
  --ft-toggle-label-mb: 1vh;
  --ft-difficulty-selection-box-container-ml: 12vw;
  --ft-difficulty-selection-box-container-mb: 6vh;
  --ft-input-mr: 0.75vw;
  --ft-solution-selection-box-container-ml: 12vw;
  --ft-solution-selection-box-container-mb: 23vh;
  --ft-info-button-container-mr: 6vw;
  --ft-info-button-container-mb: 13vh;
  --ft-info-header-ml: 95%;
  --ft-info-header-mt: 5%;
  --ft-score-text-mt: 10%;
  /* Font */
  --ft-button-text-size: calc(10vw * 0.175);
  --ft-toggle-label-text-size: calc(10vw * 0.16);
  --ft-score-text-font-size: calc(10vh * 0.8);
  /* Font Sizes */
  --ft-general-font-size: calc(10vw * 0.25);
  /* Sizes */
  --ft-button-w: calc(10vw * 0.75);
  --ft-button-h: calc(10vh * 0.8);
  --ft-toggle-input-w: calc(10vw * 0.5);
  --ft-toggle-input-h: calc(10vh * 0.5);
  --mute-icon-size: 75%;
}

/* Media query to override CONSTANT values for vertical screens (portrait orientation) */
@media screen and (orientation: portrait), (max-width: 600px) {
  :root {
    /* Edge Margins */
    --ft-updateTilegrid-button-container-ml: 16vw;
    --ft-updateTilegrid-button-container-mb: 11vh;
    --ft-resetTilegrid-button-container-ml: 16vw;
    --ft-resetTilegrid-button-container-mb: 20vh;
    --ft-mute-button-container-mr: 16vw;
    --ft-mute-button-container-mb: 29vh;
    --ft-toggle-label-mb: 0vh;
    --ft-difficulty-selection-box-container-ml: 30vw;
    --ft-difficulty-selection-box-container-mb: 6vh;
    --ft-input-mr: 6vw;
    --ft-solution-selection-box-container-ml: 30vw;
    --ft-solution-selection-box-container-mb: 15vh;
    --ft-info-button-container-mr: 16vw;
    --ft-info-button-container-mb: 29vh;
    --ft-info-header-ml: 90%;
    --ft-info-header-mt: 5%;
    --ft-score-text-mt: 15%;
    /* Font */
    --ft-button-text-size: calc(10vh * 0.2);
    --ft-toggle-label-text-size: calc(10vh * 0.175);
    --ft-score-text-font-size: calc(10vh * 0.75);
    /* Font Sizes */
    --ft-general-font-size: calc(10vw * 0.5);
    /* Sizes */
    --ft-button-w: calc(20vw * 0.85);
    --ft-button-h: calc(10vh * 0.43);
    --ft-toggle-input-w: calc(10vw * 0.55);
    --ft-toggle-input-h: calc(10vh * 0.55);
    --mute-icon-size: 75%;
  }
}

body {
  /* Background-related styles for body are defined in the .html file since they are urgent and we want to guarentee those render in */
}

/* Define style for link */
a {
  color: var(--link-color);
  text-decoration: none; /* Remove the underline */
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
a.active {
  text-decoration: underline; /* Add underline on click */
}

/* Buttons */
.updateTilegrid-button-container {
  position: fixed;
  left: var(--ft-updateTilegrid-button-container-ml);
  bottom: var(--ft-updateTilegrid-button-container-mb);
}

.resetTilegrid-button-container {
  position: fixed;
  left: var(--ft-resetTilegrid-button-container-ml);
  bottom: var(--ft-resetTilegrid-button-container-mb);
}

.mute-button-container {
  position: fixed;
  right: var(--ft-mute-button-container-mr);
  bottom: var(--ft-mute-button-container-mb);
}

.fas.fa-volume-xmark {
  position: relative;
  color: #000000;
  font-size: var(--mute-icon-size);
  margin: 0 0 0 0; /* Adjust margin as needed */
}

.fas.fa-volume-high {
  position: relative;
  color: #000000;
  font-size: var(--mute-icon-size);
  margin: 0 0 0 0; /* Adjust margin as needed */
}

.fliptile-button {
  position: absolute;
  width: var(--ft-button-w);
  height: var(--ft-button-h);
  border: none;
  background-color: transparent;
  color: var(--main-color);
  font-size: var(--ft-button-text-size);
  transform: translate(-50%, 0%);
  transition: transform 0.3s ease;
  cursor: pointer;
  pointer-events: auto;
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  .fliptile-button:hover {
    transform: translate(-50%, 0%) scale(1.2);
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
.fliptile-button.active {
  transform: translate(-50%, 0%) scale(1.2);
  filter: brightness(0.8);
}

.fliptile-icon-img,
.fliptile-icon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.fliptile-icon-text {
  color: var(--secondary-color);
  font-weight: bold;
}

.fliptile-icon-img {
  width: 100%;
  height: 100%;
}

/* Score text */
.score-text-container {
  position: relative;
}

.score-text {
  position: absolute;
  top: var(--ft-score-text-mt);
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-text-color);
  font-size: var(--ft-score-text-font-size);
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

.score-text-grow {
  transform: translate(-50%, -50%) scale(1.2); /* Grow the text */
}

/* All Selection Boxes */
input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 0px var(--ft-input-mr) 0px var(--ft-input-mr);
  padding: initial;
  border: initial;
}

/* Difficulty Selection Boxes stored in one big container */
.difficulty-selection-box-container {
  position: fixed;
  left: var(--ft-difficulty-selection-box-container-ml);
  bottom: var(--ft-difficulty-selection-box-container-mb);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Solution Selection Box stored in one big container */
.solution-selection-box-container {
  position: fixed;
  left: var(--ft-solution-selection-box-container-ml);
  bottom: var(--ft-solution-selection-box-container-mb);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Toggle box styles */
.flip-tile-toggle-box-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flip-tile-toggle-label {
  font-size: var(--ft-toggle-label-text-size);
  white-space: nowrap;
  color: white;
  text-align: center;
  margin: 0px 0px var(--ft-toggle-label-mb) 0px;
}

/* Need the 1, 2, 3 to keep their names since the JS code
in the game queries these classes by name */
.flip-tile-sol-toggle-input,
.flip-tile-toggle-input-1,
.flip-tile-toggle-input-2,
.flip-tile-toggle-input-3 {
  width: var(--ft-toggle-input-w);
  height: var(--ft-toggle-input-h);
  cursor: pointer;
  min-width: calc(0.5 * var(--ft-button-h));
  min-height: calc(0.5 * var(--ft-button-h));
}

/* Info screen styles */
.info-button-container {
  position: fixed;
  right: var(--ft-info-button-container-mr);
  bottom: var(--ft-info-button-container-mb);
}

/* Phone screen has it in a different location */
@media screen and (orientation: portrait), (max-width: 600px) {
  .info-button-container {
    position: fixed;
    left: var(--ft-info-button-container-mr);
    bottom: var(--ft-info-button-container-mb);
  }
}

.info-box {
  display: none; /* Hide this to start */
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--panel-color);
  pointer-events: auto;
}

.info-header {
  position: relative;
  left: var(--ft-info-header-ml);
  top: var(--ft-info-header-mt);
  font-size: var(--ft-general-font-size);
  color: var(--main-text-color);
  pointer-events: auto;
}

.info-content {
  position: absolute;
  padding: 4vw;
  left: var(--main-ml);
  top: 0%;
  font-size: var(--ft-general-font-size);
  color: var(--main-text-color);
  pointer-events: auto;
}

.close-button {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
  transform: scale(1.6);
  transition: transform 0.3s ease;
}

/* Only hover if the browser supports hover. Aka
if this has a mouse. This prevents an issue where
touchscreens are causing hover to get stuck */
@media (hover: hover) {
  .close-button:hover {
    transform: scale(2.2);
  }
}

/* What to do when clicked. Check the actual JS that adds an
event listener to add and delete this CSS style on click with addClickAnimation() */
.close-button.active {
  transform: scale(2.2);
  filter: brightness(0.8) invert(25%);
}
